In [81]:
# run dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [82]:
# Import dataframes that give features

In [83]:
#import dataset that you will be predicting upon (Target = predicting a win, draw, or loss)
#But also, the match data needs to be organized differently.
df_matches = pd.read_csv("Features/wc_matches.csv")
df_matches

,Unnamed: 0,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team,goal_difference,year
0,1314,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True,United States,3,1930
1,1315,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True,France,3,1930
2,1316,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True,Yugoslavia,1,1930
3,1318,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True,Argentina,1,1930
4,1319,1930-07-16,Chile,Mexico,3,0,FIFA World Cup,Montevideo,Uruguay,True,Chile,3,1930
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4177,43441,2022-03-30,Costa Rica,United States,2,0,FIFA World Cup qualification,San José,Costa Rica,False,Costa Rica,2,2022
4178,43442,2022-03-30,Panama,Canada,1,0,FIFA World Cup qualification,Panama City,Panama,False,Panama,1,2022
4179,43538,2022-06-05,Wales,Ukraine,1,0,FIFA World Cup qualification,Cardiff,Wales,False,Wales,1,2022
4180,43704,2022-06-13,Australia,Peru,0,0,FIFA World Cup qualification,Al Rayyan,Qatar,True,draw,0,2022
4181,43718,2022-06-14,Costa Rica,New Zealand,1,0,FIFA World Cup qualification,Al Rayyan,Qatar,True,Costa Rica,1,2022

In [84]:
#limit the dataframe rows to the relevant teams playing in the 2022 world cup
teams_2022 = ['Qatar', 'Netherlands', 'Senegal', 'Ecuador', 
            'England', 'United States', 'Wales', 'Iran', 
            'Argentina', 'Poland', 'Mexico', 'Saudi Arabia', 
            'France', 'Denmark', 'Tunisia', 'Australia', 
            'Germany', 'Spain', 'Japan', 'Costa Rica', 
            'Belgium', 'Croatia', 'Canada', 'Morocco', 
            'Brazil', 'Switzerland', 'Serbia', 'Cameroon', 
            'Portugal', 'Uruguay', 'Ghana', 'Korea Republic']

In [85]:
#call all csv files that were created (feature files)
rank = pd.read_csv("Features/fifa_rank.csv")
player_avg = pd.read_csv("Features/player_averages_for_teams.csv")
win_ratio = pd.read_csv("Features/ratio_played_vs_won.csv")
delta_pts = pd.read_csv("Features/total_score_margins.csv")
games = pd.read_csv("Features/adv_df_pivot.csv")

In [89]:
rank = rank.drop(['Unnamed: 0', 'Points'], axis=1)
rank.head()

   Rank    Country
0     1     Brazil
1     2    Belgium
2     3  Argentina
3     4     France
4     5    England

In [90]:
player_avg= player_avg.rename(columns={"Nationality": "Country"})
player_avg.head()

,Country,Overall,Potential,Height,Weight,Age,WeakFoot,SkillMoves,Value,Wage,...,LongShots,Curve,FKAcc,Penalties,Volleys,GKPositioning,GKDiving,GKHandling,GKKicking,GKReflexes
0,Afghanistan,65.500000,68.000000,172.500000,65.000000,25.500000,3.000000,2.500000,9.125000e+05,1950.000000,...,43.500000,53.000000,51.500000,54.000000,52.500000,11.000000,13.000000,6.500000,8.500000,10.500000
1,Albania,65.000000,70.620000,182.480000,75.860000,25.120000,2.940000,2.400000,2.601900e+06,8024.000000,...,49.340000,46.760000,44.380000,50.340000,44.700000,13.500000,13.500000,12.760000,13.240000,13.640000
2,Algeria,70.462963,73.166667,182.018519,75.351852,27.296296,2.944444,2.759259,5.246296e+06,21177.777778,...,50.166667,53.277778,48.796296,53.740741,47.481481,16.981481,17.148148,16.777778,16.222222,17.703704
3,Andorra,64.000000,64.000000,184.000000,79.000000,30.000000,3.000000,2.000000,4.750000e+05,1500.000000,...,32.000000,37.000000,29.000000,45.000000,41.000000,8.000000,9.000000,7.000000,12.000000,6.000000
4,Angola,67.095238,73.857143,178.523810,73.047619,24.809524,3.000000,2.809524,2.574048e+06,7066.666667,...,52.190476,54.428571,47.000000,53.666667,51.285714,13.142857,13.857143,12.238095,12.809524,12.285714

In [93]:
win_ratio = win_ratio.drop(['Unnamed: 0'], axis=1)
win_ratio.head()

     Country  total_wins  total_games  ratio_won
0  Argentina          39         65.0   0.600000
1  Australia           2         16.0   0.125000
2    Belgium          21         42.0   0.500000
3     Brazil          56         77.0   0.727273
4   Cameroon           4         23.0   0.173913

In [95]:
delta_pts = delta_pts.drop(['Unnamed: 0'], axis=1)
delta_pts.head()

      Country  win_margins  lose_margins
0   Argentina     2.823529     -2.059524
1     Belgium     2.500000     -1.903846
2      Brazil     3.790698     -1.800000
3    Cameroon     2.000000     -3.077778
4  Costa Rica     2.000000     -2.571429

In [97]:
games= games.rename(columns={"country": "Country"})
games.head()

,Country,final,group stage,quarter-finals,round of 16,second group stage,semi-finals,third-place match
0,Argentina,4.0,36.0,6.0,8.0,8.0,3.0,0.0
1,Australia,0.0,15.0,0.0,1.0,0.0,0.0,0.0
2,Belgium,0.0,27.0,3.0,6.0,2.0,2.0,2.0
3,Brazil,4.0,39.0,9.0,9.0,8.0,5.0,3.0
4,Cameroon,0.0,21.0,1.0,1.0,0.0,0.0,0.0

In [98]:
# merge dataframes on the column "Country"

In [105]:
from functools import reduce
dfs = [rank, player_avg, win_ratio, delta_pts, games] # list of dataframes

compiled_df = reduce(lambda  left,right: pd.merge(left,right,on=['Country'],
                                            how='outer'), dfs)
compiled_df

,Rank,Country,Overall,Potential,Height,Weight,Age,WeakFoot,SkillMoves,Value,...,ratio_won,win_margins,lose_margins,final,group stage,quarter-finals,round of 16,second group stage,semi-finals,third-place match
0,1.0,Brazil,70.967232,73.102825,180.677966,75.772881,26.162712,2.966102,2.554802,5.522758e+06,...,0.727273,3.790698,-1.800000,4.0,39.0,9.0,9.0,8.0,5.0,3.0
1,2.0,Belgium,67.676667,73.903333,182.300000,75.126667,24.496667,3.173333,2.416667,4.685353e+06,...,0.500000,2.500000,-1.903846,0.0,27.0,3.0,6.0,2.0,2.0,2.0
2,3.0,Argentina,67.806316,72.728421,178.816842,74.710526,26.442105,2.916842,2.473684,3.400971e+06,...,0.600000,2.823529,-2.059524,4.0,36.0,6.0,8.0,8.0,3.0,0.0
3,4.0,France,67.238569,73.587475,181.771372,75.247515,24.638171,2.895626,2.421471,4.636357e+06,...,0.580000,3.576190,-1.400000,3.0,27.0,5.0,5.0,2.0,5.0,2.0
4,5.0,England,63.272833,70.315300,181.833042,74.194881,24.467132,2.891798,2.279814,2.334097e+06,...,0.733333,3.232143,-1.064706,0.0,30.0,6.0,7.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,NaN,United Arab Emirates,63.560000,67.400000,176.400000,69.440000,26.800000,3.040000,2.200000,9.204762e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,NaN,Uzbekistan,64.625000,70.750000,179.625000,72.125000,24.625000,3.375000,2.375000,1.153125e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,NaN,Venezuela,61.721393,67.099502,177.746269,72.741294,25.189055,2.751244,2.268657,1.131020e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,NaN,Zambia,67.666667,74.000000,179.888889,75.111111,23.666667,3.222222,2.777778,3.861111e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,NaN,Zimbabwe,67.214286,70.928571,179.857143,74.142857,26.428571,3.285714,2.642857,2.076786e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
compiled_df = compiled_df[(compiled_df['Country'].isin(teams_2022))]
compiled_df

,Rank,Country,Overall,Potential,Height,Weight,Age,WeakFoot,SkillMoves,Value,...,ratio_won,win_margins,lose_margins,final,group stage,quarter-finals,round of 16,second group stage,semi-finals,third-place match
0,1.0,Brazil,70.967232,73.102825,180.677966,75.772881,26.162712,2.966102,2.554802,5.522758e+06,...,0.727273,3.790698,-1.800000,4.0,39.0,9.0,9.0,8.0,5.0,3.0
1,2.0,Belgium,67.676667,73.903333,182.300000,75.126667,24.496667,3.173333,2.416667,4.685353e+06,...,0.500000,2.500000,-1.903846,0.0,27.0,3.0,6.0,2.0,2.0,2.0
2,3.0,Argentina,67.806316,72.728421,178.816842,74.710526,26.442105,2.916842,2.473684,3.400971e+06,...,0.600000,2.823529,-2.059524,4.0,36.0,6.0,8.0,8.0,3.0,0.0
3,4.0,France,67.238569,73.587475,181.771372,75.247515,24.638171,2.895626,2.421471,4.636357e+06,...,0.580000,3.576190,-1.400000,3.0,27.0,5.0,5.0,2.0,5.0,2.0
4,5.0,England,63.272833,70.315300,181.833042,74.194881,24.467132,2.891798,2.279814,2.334097e+06,...,0.733333,3.232143,-1.064706,0.0,30.0,6.0,7.0,2.0,2.0,2.0
5,6.0,Spain,69.285189,74.675253,180.231831,73.692732,25.685373,3.055198,2.573137,5.212190e+06,...,0.833333,3.733766,-1.241071,1.0,33.0,4.0,7.0,2.0,1.0,0.0
6,8.0,Netherlands,67.073913,73.165217,183.026087,75.917391,24.436957,2.989130,2.397826,4.045946e+06,...,0.903226,3.750000,-1.083333,3.0,24.0,4.0,6.0,6.0,3.0,2.0
7,9.0,Portugal,69.783934,74.939058,180.778393,73.797784,25.581717,3.052632,2.709141,6.062230e+06,...,0.400000,2.750000,-1.911111,0.0,18.0,1.0,3.0,0.0,1.0,1.0
8,10.0,Denmark,64.570492,70.875410,184.059016,77.245902,24.632787,2.940984,2.357377,2.171607e+06,...,0.450000,4.333333,-2.300000,0.0,15.0,1.0,4.0,0.0,0.0,0.0
9,11.0,Germany,65.714644,71.170711,183.855230,78.248536,24.997490,3.107113,2.266946,2.983955e+06,...,0.527273,4.279762,-2.500000,2.0,21.0,6.0,6.0,0.0,4.0,2.0
10,12.0,Mexico,65.691257,71.724044,177.423497,72.174863,25.016393,2.912568,2.265027,2.200658e+06,...,0.882353,3.089286,-2.044118,0.0,30.0,2.0,8.0,0.0,0.0,0.0
11,13.0,Uruguay,67.384393,71.976879,179.416185,74.832370,26.291908,2.884393,2.419075,3.172743e+06,...,0.619048,2.619048,-2.361538,0.0,24.0,3.0,5.0,0.0,2.0,2.0
12,14.0,United States,63.570332,70.258312,181.854220,76.851662,24.833760,2.892583,2.140665,1.314359e+06,...,0.277778,2.500000,-2.166667,0.0,21.0,1.0,4.0,0.0,0.0,0.0
13,15.0,Croatia,69.451852,73.807407,185.533333,79.355556,25.755556,3.155556,2.377778,4.996037e+06,...,0.565217,2.700000,-2.142857,1.0,15.0,2.0,2.0,0.0,2.0,1.0
14,16.0,Switzerland,65.019139,72.191388,182.588517,77.086124,24.650718,3.081340,2.258373,2.903029e+06,...,0.538462,3.500000,-1.857143,0.0,15.0,0.0,4.0,0.0,0.0,0.0
15,18.0,Senegal,67.711111,72.325926,184.762963,76.644444,25.651852,2.962963,2.488889,4.372926e+06,...,0.272727,NaN,NaN,0.0,6.0,1.0,1.0,0.0,0.0,0.0
16,19.0,Wales,63.991870,70.536585,181.235772,73.975610,24.650407,2.951220,2.276423,2.121179e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,22.0,Morocco,70.409639,74.240964,181.289157,74.566265,26.590361,3.132530,2.975904,5.237952e+06,...,0.142857,NaN,NaN,0.0,15.0,0.0,1.0,0.0,0.0,0.0
18,23.0,Iran,69.947368,71.947368,183.526316,76.473684,27.368421,3.210526,2.684211,2.448684e+06,...,0.333333,NaN,NaN,0.0,15.0,0.0,0.0,0.0,0.0,0.0
19,24.0,Japan,64.779381,68.463918,177.503093,71.435052,26.602062,3.008247,2.280412,1.093594e+06,...,0.277778,2.666667,-2.000000,0.0,18.0,0.0,3.0,0.0,0.0,0.0
20,25.0,Serbia,68.616541,72.729323,185.511278,78.323308,26.300752,2.984962,2.390977,4.307519e+06,...,0.166667,NaN,NaN,0.0,6.0,0.0,0.0,0.0,0.0,0.0
21,26.0,Poland,63.345506,69.924157,182.671348,75.278090,24.620787,2.758427,2.185393,1.739308e+06,...,0.888889,3.700000,-3.136364,0.0,21.0,0.0,1.0,8.0,1.0,2.0
22,28.0,Korea Republic,62.850877,66.853801,181.216374,74.049708,26.707602,3.157895,2.228070,1.128567e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,30.0,Tunisia,67.310345,71.551724,182.655172,75.137931,25.448276,3.034483,2.724138,1.936207e+06,...,0.117647,3.000000,-2.083333,0.0,15.0,0.0,0.0,0.0,0.0,0.0
24,34.0,Costa Rica,67.551724,69.344828,180.103448,75.172414,28.344828,2.827586,2.655172,2.177069e+06,...,0.333333,2.000000,-2.571429,0.0,15.0,1.0,2.0,0.0,0.0,0.0
25,38.0,Cameroon,67.447059,72.870588,182.705882,77.847059,24.682353,2.952941,2.352941,3.452169e+06,...,0.173913,2.000000,-3.077778,0.0,21.0,1.0,1.0,0.0,0.0,0.0
26,39.0,Australia,61.027778,66.964286,180.722222,74.714286,24.496032,2.928571,2.206349,7.351613e+05,...,0.125000,NaN,NaN,0.0,15.0,0.0,1.0,0.0,0.0,0.0
27,43.0,Canada,62.831169,69.727273,182.207792,76.623377,24.597403,2.818182,2.207792,1.935120e+06,...,0.000000,NaN,NaN,0.0,3.0,0.0,0.0,0.0,0.0,0.0
28,44.0,Ecuador,64.186235,69.348178,178.267206,73.137652,25.546559,2.809717,2.319838,1.289464e+06,...,0.400000,3.500000,-2.750000,0.0,9.0,0.0,1.0,0.0,0.0,0.0
29,49.0,Qatar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,53.0,Saudi Arabia,60.129747,64.990506,176.898734,70.446203,25.984177,2.946203,2.117089,5.049209e+05,...,0.214286,2.000000,-4.700000,0.0,15.0,0.0,1.0,0.0,0.0,0.0
31,60.0,Ghana,67.278689,72.639344,178.565574,72.959016,24.524590,2.926230,2.696721,2.831639e+06,...,0.285714,2.333333,-1.866667,0.0,9.0,1.0,2.0,0.0,0.0,0.0

In [40]:
#remove data that we consider irrelevant to predicting the feature
df_matches = df_matches.drop(['date', 'Unnamed: 0', 'home_score', 'away_score', 'tournament', 'city', 'country', 'neutral','year'], axis=1)

In [64]:
#if we are going to split the data per country, we will need to define the match data below differently:
#each row is one of the 32 countries
#previous match data would be a column
#ie. Belgium on row, and United States, Mexico, Yugoslavia, etc on y axis
#not exactly sure if this will work

In [41]:
#define home team, away team, and winning team
#The winning team column will show "2" if the home team has won, "1" if it was a tie, and "0" if the away team has won
#The model will be build to predict the "winning_team"

df_matches = df_matches.reset_index(drop=True)
df_matches.loc[df_matches.winning_team == df_matches.home_team,'winning_team']=2
df_matches.loc[df_matches.winning_team == 'draw', 'winning_team']=1
df_matches.loc[df_matches.winning_team == df_matches.away_team, 'winning_team']=0

df_matches

       home_team      away_team winning_team  goal_difference
0        Belgium  United States            0                3
1         France         Mexico            2                3
2         Brazil     Yugoslavia            0                1
3      Argentina         France            2                1
4          Chile         Mexico            2                3
...          ...            ...          ...              ...
4177  Costa Rica  United States            2                2
4178      Panama         Canada            2                1
4179       Wales        Ukraine            2                1
4180   Australia           Peru            1                0
4181  Costa Rica    New Zealand            2                1

[4182 rows x 4 columns]

# Running (up that hill) the model

In [43]:
final = pd.get_dummies(df_matches, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

# Separate X and y sets
X = final.drop(['winning_team'], axis=1)
y = final["winning_team"]
y=y.astype('int')

# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [57]:
#classify data as 0, 1, or 2 (home team lost, drew, or won)
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

score = classifier.score(X_train, y_train)
score2 = classifier.score(X_test, y_test)
print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.855
Test set accuracy:  0.812

C:\Users\US11338\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [47]:
schedule = pd.read_csv('Data/schedule.csv')

In [48]:
rank = pd.read_csv("Features/fifa_rank.csv")
rank

    Unnamed: 0  Rank         Country   Points
0            0     1          Brazil  1837.56
1            1     2         Belgium  1821.92
2            2     3       Argentina  1770.65
3            3     4          France  1764.85
4            4     5         England  1737.46
5            5     6           Spain  1716.93
6            7     8     Netherlands  1679.41
7            8     9        Portugal  1678.65
8            9    10         Denmark  1665.47
9           10    11         Germany  1658.96
10          11    12          Mexico  1649.57
11          12    13         Uruguay  1643.71
12          13    14   United States  1635.01
13          14    15         Croatia  1632.15
14          15    16     Switzerland  1621.43
15          17    18         Senegal  1593.45
16          18    19           Wales  1582.13
17          21    22         Morocco  1558.90
18          22    23            Iran  1558.64
19          23    24           Japan  1552.77
20          24    25          Serbia  1549.53
21          25    26          Poland  1546.18
22          27    28  Korea Republic  1526.20
23          29    30         Tunisia  1507.86
24          33    34      Costa Rica  1500.06
25          37    38        Cameroon  1484.95
26          38    39       Australia  1483.73
27          42    43          Canada  1473.82
28          43    44         Ecuador  1463.74
29          48    49           Qatar  1441.41
30          52    53    Saudi Arabia  1435.74
31          59    60           Ghana  1389.68

In [49]:
# Create new columns with ranking position of each team
schedule.insert(1, 'first_position', schedule['Home Team'].map(rank.set_index('Country')['Rank']))
schedule.insert(2, 'second_position', schedule['Away Team'].map(rank.set_index('Country')['Rank']))

# We only need the group stage games, so we have to slice the dataset
schedule = schedule.iloc[:48, :]
schedule

,Match Number,first_position,second_position,Round Number,Date,Location,Home Team,Away Team,Group,Result
0,2,18.0,8.0,1,21/11/2022 10:00,Al Thumama Stadium,Senegal,Netherlands,Group A,NaN
1,3,5.0,23.0,1,21/11/2022 13:00,Khalifa International Stadium,England,Iran,Group B,NaN
2,1,49.0,44.0,1,21/11/2022 16:00,Al Bayt Stadium,Qatar,Ecuador,Group A,NaN
3,4,NaN,19.0,1,21/11/2022 19:00,Ahmad Bin Ali Stadium,USA,Wales,Group B,NaN
4,8,3.0,53.0,1,22/11/2022 10:00,Lusail Stadium,Argentina,Saudi Arabia,Group C,NaN
5,6,10.0,30.0,1,22/11/2022 13:00,Education City Stadium,Denmark,Tunisia,Group D,NaN
6,7,12.0,26.0,1,22/11/2022 16:00,Stadium 974,Mexico,Poland,Group C,NaN
7,5,4.0,39.0,1,22/11/2022 19:00,Al Janoub Stadium,France,Australia,Group D,NaN
8,12,22.0,15.0,1,23/11/2022 10:00,Al Bayt Stadium,Morocco,Croatia,Group F,NaN
9,11,11.0,24.0,1,23/11/2022 13:00,Khalifa International Stadium,Germany,Japan,Group E,NaN
10,10,6.0,34.0,1,23/11/2022 16:00,Al Thumama Stadium,Spain,Costa Rica,Group E,NaN
11,9,2.0,43.0,1,23/11/2022 19:00,Ahmad Bin Ali Stadium,Belgium,Canada,Group F,NaN
12,13,16.0,38.0,1,24/11/2022 10:00,Al Janoub Stadium,Switzerland,Cameroon,Group G,NaN
13,14,13.0,28.0,1,24/11/2022 13:00,Education City Stadium,Uruguay,Korea Republic,Group H,NaN
14,15,9.0,60.0,1,24/11/2022 16:00,Stadium 974,Portugal,Ghana,Group H,NaN
15,16,1.0,25.0,1,24/11/2022 19:00,Lusail Stadium,Brazil,Serbia,Group G,NaN
16,17,19.0,23.0,2,25/11/2022 10:00,Ahmad Bin Ali Stadium,Wales,Iran,Group B,NaN
17,18,49.0,18.0,2,25/11/2022 13:00,Al Thumama Stadium,Qatar,Senegal,Group A,NaN
18,19,8.0,44.0,2,25/11/2022 16:00,Khalifa International Stadium,Netherlands,Ecuador,Group A,NaN
19,20,5.0,NaN,2,25/11/2022 19:00,Al Bayt Stadium,England,USA,Group B,NaN
20,21,30.0,39.0,2,26/11/2022 10:00,Al Janoub Stadium,Tunisia,Australia,Group D,NaN
21,22,26.0,53.0,2,26/11/2022 13:00,Education City Stadium,Poland,Saudi Arabia,Group C,NaN
22,23,4.0,10.0,2,26/11/2022 16:00,Stadium 974,France,Denmark,Group D,NaN
23,24,3.0,12.0,2,26/11/2022 19:00,Lusail Stadium,Argentina,Mexico,Group C,NaN
24,25,24.0,34.0,2,27/11/2022 10:00,Ahmad Bin Ali Stadium,Japan,Costa Rica,Group E,NaN
25,26,2.0,22.0,2,27/11/2022 13:00,Al Thumama Stadium,Belgium,Morocco,Group F,NaN
26,27,15.0,43.0,2,27/11/2022 16:00,Khalifa International Stadium,Croatia,Canada,Group F,NaN
27,28,6.0,11.0,2,27/11/2022 19:00,Al Bayt Stadium,Spain,Germany,Group E,NaN
28,29,38.0,25.0,2,28/11/2022 10:00,Al Janoub Stadium,Cameroon,Serbia,Group G,NaN
29,30,28.0,60.0,2,28/11/2022 13:00,Education City Stadium,Korea Republic,Ghana,Group H,NaN
30,31,1.0,16.0,2,28/11/2022 16:00,Stadium 974,Brazil,Switzerland,Group G,NaN
31,32,9.0,13.0,2,28/11/2022 19:00,Lusail Stadium,Portugal,Uruguay,Group H,NaN
32,35,44.0,18.0,3,29/11/2022 15:00,Khalifa International Stadium,Ecuador,Senegal,Group A,NaN
33,36,8.0,49.0,3,29/11/2022 15:00,Al Bayt Stadium,Netherlands,Qatar,Group A,NaN
34,33,19.0,5.0,3,29/11/2022 19:00,Ahmad Bin Ali Stadium,Wales,England,Group B,NaN
35,34,23.0,NaN,3,29/11/2022 19:00,Al Thumama Stadium,Iran,USA,Group B,NaN
36,37,39.0,10.0,3,30/11/2022 15:00,Al Janoub Stadium,Australia,Denmark,Group D,NaN
37,38,30.0,4.0,3,30/11/2022 15:00,Education City Stadium,Tunisia,France,Group D,NaN
38,39,26.0,3.0,3,30/11/2022 19:00,Stadium 974,Poland,Argentina,Group C,NaN
39,40,53.0,12.0,3,30/11/2022 19:00,Lusail Stadium,Saudi Arabia,Mexico,Group C,NaN
40,41,15.0,2.0,3,1/12/2022 15:00,Ahmad Bin Ali Stadium,Croatia,Belgium,Group F,NaN
41,42,43.0,22.0,3,1/12/2022 15:00,Al Thumama Stadium,Canada,Morocco,Group F,NaN
42,43,24.0,6.0,3,1/12/2022 19:00,Khalifa International Stadium,Japan,Spain,Group E,NaN
43,44,34.0,11.0,3,1/12/2022 19:00,Al Bayt Stadium,Costa Rica,Germany,Group E,NaN
44,45,60.0,13.0,3,2/12/2022 15:00,Al Janoub Stadium,Ghana,Uruguay,Group H,NaN
45,46,28.0,9.0,3,2/12/2022 15:00,Education City Stadium,Korea Republic,Portugal,Group H,NaN
46,47,25.0,16.0,3,2/12/2022 19:00,Stadium 974,Serbia,Switzerland,Group G,NaN
47,48,38.0,1.0,3,2/12/2022 19:00,Lusail Stadium,Cameroon,Brazil,Group G,NaN

In [60]:
pred_set= []
for index, row in schedule.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'home_team': row['Home Team'], 'away_team': row['Away Team'], 'winning_team': None})
    else:
        pred_set.append({'home_team': row['Away Team'], 'away_team': row['Home Team'], 'winning_team': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set

pred_set.head()

     home_team     away_team winning_team
0  Netherlands       Senegal         None
1      England          Iran         None
2      Ecuador         Qatar         None
3        Wales           USA         None
4    Argentina  Saudi Arabia         None

In [61]:
# # Get dummy variables and drop winning_team column
pred_set = pd.get_dummies(pred_set, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

# Add missing columns compared to the model's training dataset
missing_cols = set(final.columns) - set(pred_set.columns)
for c in missing_cols:
    pred_set[c] = 0
pred_set = pred_set[final.columns]

# Remove winning team column
pred_set = pred_set.drop(['winning_team'], axis=1)

pred_set.head()

C:\Users\US11338\AppData\Local\Temp/ipykernel_4676/3066358945.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  pred_set[c] = 0

,goal_difference,home_team_Afghanistan,home_team_Albania,home_team_Algeria,home_team_Andorra,home_team_Angola,home_team_Antigua and Barbuda,home_team_Argentina,home_team_Armenia,home_team_Aruba,...,away_team_Uruguay,away_team_Uzbekistan,away_team_Vanuatu,away_team_Venezuela,away_team_Vietnam,away_team_Wales,away_team_Yemen,away_team_Yugoslavia,away_team_Zambia,away_team_Zimbabwe
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
#group matches
predictions = classifier.predict(pred_set)
for i in range(schedule.shape[0]):
    print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
    if predictions[i] == 2:
        print("Winner: " + backup_pred_set.iloc[i, 1])
    elif predictions[i] == 1:
        print("Draw")
    elif predictions[i] == 0:
        print("Winner: " + backup_pred_set.iloc[i, 0])
    print('Probability of ' + backup_pred_set.iloc[i, 1] + ' winning: ', '%.3f'%(classifier.predict_proba(pred_set)[i][2]))
    print('Probability of Draw: ', '%.3f'%(classifier.predict_proba(pred_set)[i][1]))
    print('Probability of ' + backup_pred_set.iloc[i, 0] + ' winning: ', '%.3f'%(classifier.predict_proba(pred_set)[i][0]))
    print("")

Senegal and Netherlands
Draw
Probability of Senegal winning:  0.010
Probability of Draw:  0.989
Probability of Netherlands winning:  0.001

Iran and England
Draw
Probability of Iran winning:  0.006
Probability of Draw:  0.991
Probability of England winning:  0.003

Qatar and Ecuador
Draw
Probability of Qatar winning:  0.008
Probability of Draw:  0.990
Probability of Ecuador winning:  0.002

USA and Wales
Draw
Probability of USA winning:  0.006
Probability of Draw:  0.991
Probability of Wales winning:  0.003

Saudi Arabia and Argentina
Draw
Probability of Saudi Arabia winning:  0.009
Probability of Draw:  0.989
Probability of Argentina winning:  0.002

Tunisia and Denmark
Draw
Probability of Tunisia winning:  0.005
Probability of Draw:  0.992
Probability of Denmark winning:  0.003

Poland and Mexico
Draw
Probability of Poland winning:  0.007
Probability of Draw:  0.990
Probability of Mexico winning:  0.003

Australia and France
Draw
Probability of Australia winning:  0.010
Probability of Draw:  0.988
Probability of France winning:  0.002

Morocco and Croatia
Draw
Probability of Morocco winning:  0.006
Probability of Draw:  0.992
Probability of Croatia winning:  0.002

Japan and Germany
Draw
Probability of Japan winning:  0.008
Probability of Draw:  0.989
Probability of Germany winning:  0.003

Costa Rica and Spain
Draw
Probability of Costa Rica winning:  0.008
Probability of Draw:  0.990
Probability of Spain winning:  0.002

Canada and Belgium
Draw
Probability of Canada winning:  0.011
Probability of Draw:  0.988
Probability of Belgium winning:  0.002

Cameroon and Switzerland
Draw
Probability of Cameroon winning:  0.006
Probability of Draw:  0.991
Probability of Switzerland winning:  0.003

Korea Republic and Uruguay
Draw
Probability of Korea Republic winning:  0.011
Probability of Draw:  0.987
Probability of Uruguay winning:  0.001

Ghana and Portugal
Draw
Probability of Ghana winning:  0.011
Probability of Draw:  0.988
Probability of Portugal winning:  0.001

Serbia and Brazil
Draw
Probability of Serbia winning:  0.008
Probability of Draw:  0.990
Probability of Brazil winning:  0.002

Iran and Wales
Draw
Probability of Iran winning:  0.002
Probability of Draw:  0.990
Probability of Wales winning:  0.007

Qatar and Senegal
Draw
Probability of Qatar winning:  0.006
Probability of Draw:  0.991
Probability of Senegal winning:  0.003

Ecuador and Netherlands
Draw
Probability of Ecuador winning:  0.015
Probability of Draw:  0.984
Probability of Netherlands winning:  0.001

England and USA
Draw
Probability of England winning:  0.002
Probability of Draw:  0.989
Probability of USA winning:  0.009

Australia and Tunisia
Draw
Probability of Australia winning:  0.007
Probability of Draw:  0.991
Probability of Tunisia winning:  0.002

Saudi Arabia and Poland
Draw
Probability of Saudi Arabia winning:  0.007
Probability of Draw:  0.991
Probability of Poland winning:  0.002

Denmark and France
Draw
Probability of Denmark winning:  0.005
Probability of Draw:  0.991
Probability of France winning:  0.003

Mexico and Argentina
Draw
Probability of Mexico winning:  0.007
Probability of Draw:  0.991
Probability of Argentina winning:  0.002

Costa Rica and Japan
Draw
Probability of Costa Rica winning:  0.006
Probability of Draw:  0.991
Probability of Japan winning:  0.004

Morocco and Belgium
Draw
Probability of Morocco winning:  0.006
Probability of Draw:  0.992
Probability of Belgium winning:  0.003

Canada and Croatia
Draw
Probability of Canada winning:  0.010
Probability of Draw:  0.988
Probability of Croatia winning:  0.001

Germany and Spain
Draw
Probability of Germany winning:  0.002
Probability of Draw:  0.991
Probability of Spain winning:  0.007

Cameroon and Serbia
Draw
Probability of Cameroon winning:  0.005
Probability of Draw:  0.992
Probability of Serbia winning:  0.003

Ghana and Korea Republic
Draw
Probability of Ghana winning:  0.004
Probability of Draw:  0.992
Probability of Korea Republic winning:  0.004

Switzerland and Brazil
Draw
Probability of Switzerland winning:  0.010
Probability of Draw:  0.989
Probability of Brazil winning:  0.002

Uruguay and Portugal
Draw
Probability of Uruguay winning:  0.008
Probability of Draw:  0.990
Probability of Portugal winning:  0.002

Ecuador and Senegal
Draw
Probability of Ecuador winning:  0.009
Probability of Draw:  0.989
Probability of Senegal winning:  0.002

Qatar and Netherlands
Draw
Probability of Qatar winning:  0.011
Probability of Draw:  0.988
Probability of Netherlands winning:  0.001

Wales and England
Draw
Probability of Wales winning:  0.010
Probability of Draw:  0.988
Probability of England winning:  0.002

Iran and USA
Draw
Probability of Iran winning:  0.002
Probability of Draw:  0.991
Probability of USA winning:  0.007

Australia and Denmark
Draw
Probability of Australia winning:  0.006
Probability of Draw:  0.991
Probability of Denmark winning:  0.002

Tunisia and France
Draw
Probability of Tunisia winning:  0.007
Probability of Draw:  0.990
Probability of France winning:  0.002

Poland and Argentina
Draw
Probability of Poland winning:  0.009
Probability of Draw:  0.989
Probability of Argentina winning:  0.002

Saudi Arabia and Mexico
Draw
Probability of Saudi Arabia winning:  0.008
Probability of Draw:  0.990
Probability of Mexico winning:  0.002

Croatia and Belgium
Draw
Probability of Croatia winning:  0.004
Probability of Draw:  0.991
Probability of Belgium winning:  0.005

Canada and Morocco
Draw
Probability of Canada winning:  0.008
Probability of Draw:  0.990
Probability of Morocco winning:  0.002

Japan and Spain
Draw
Probability of Japan winning:  0.006
Probability of Draw:  0.991
Probability of Spain winning:  0.003

Costa Rica and Germany
Draw
Probability of Costa Rica winning:  0.011
Probability of Draw:  0.987
Probability of Germany winning:  0.002

Ghana and Uruguay
Draw
Probability of Ghana winning:  0.009
Probability of Draw:  0.989
Probability of Uruguay winning:  0.002

Korea Republic and Portugal
Draw
Probability of Korea Republic winning:  0.014
Probability of Draw:  0.985
Probability of Portugal winning:  0.001

Serbia and Switzerland
Draw
Probability of Serbia winning:  0.004
Probability of Draw:  0.991
Probability of Switzerland winning:  0.004

Cameroon and Brazil
Draw
Probability of Cameroon winning:  0.011
Probability of Draw:  0.988
Probability of Brazil winning:  0.001