In [2]:
# run dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

/Users/madelynbaker/Downloads/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
# Import dataframes that give features

In [4]:
#import dataset that you will be predicting upon (Target = predicting a win, draw, or loss)
#But also, the match data needs to be organized differently.
df_matches = pd.read_csv("Features/wc_matches.csv")
df_matches

,Unnamed: 0,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team,goal_difference,year
0,1314,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True,United States,3,1930
1,1315,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True,France,3,1930
2,1316,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True,Yugoslavia,1,1930
3,1318,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True,Argentina,1,1930
4,1319,1930-07-16,Chile,Mexico,3,0,FIFA World Cup,Montevideo,Uruguay,True,Chile,3,1930
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4177,43441,2022-03-30,Costa Rica,United States,2,0,FIFA World Cup qualification,San José,Costa Rica,False,Costa Rica,2,2022
4178,43442,2022-03-30,Panama,Canada,1,0,FIFA World Cup qualification,Panama City,Panama,False,Panama,1,2022
4179,43538,2022-06-05,Wales,Ukraine,1,0,FIFA World Cup qualification,Cardiff,Wales,False,Wales,1,2022
4180,43704,2022-06-13,Australia,Peru,0,0,FIFA World Cup qualification,Al Rayyan,Qatar,True,draw,0,2022
4181,43718,2022-06-14,Costa Rica,New Zealand,1,0,FIFA World Cup qualification,Al Rayyan,Qatar,True,Costa Rica,1,2022

In [5]:
#limit the dataframe rows to the relevant teams playing in the 2022 world cup
teams_2022 = ['Qatar', 'Netherlands', 'Senegal', 'Ecuador', 
            'England', 'United States', 'Wales', 'Iran', 
            'Argentina', 'Poland', 'Mexico', 'Saudi Arabia', 
            'France', 'Denmark', 'Tunisia', 'Australia', 
            'Germany', 'Spain', 'Japan', 'Costa Rica', 
            'Belgium', 'Croatia', 'Canada', 'Morocco', 
            'Brazil', 'Switzerland', 'Serbia', 'Cameroon', 
            'Portugal', 'Uruguay', 'Ghana', 'Korea Republic']

In [6]:
#call all csv files that were created (feature files)
rank = pd.read_csv("Features/fifa_rank.csv")
player_avg = pd.read_csv("Features/player_averages_for_teams.csv")
win_ratio = pd.read_csv("Features/ratio_played_vs_won.csv")
delta_pts = pd.read_csv("Features/total_score_margins.csv")
games = pd.read_csv("Features/adv_df_pivot.csv")

In [7]:
rank = rank.drop(['Unnamed: 0', 'Points'], axis=1)
rank.head()

   Rank    Country
0     1     Brazil
1     2    Belgium
2     3  Argentina
3     4     France
4     5    England

In [8]:
player_avg= player_avg.rename(columns={"Nationality": "Country"})
player_avg.head()

,Country,Overall,Potential,Height,Weight,Age,WeakFoot,SkillMoves,Value,Wage,...,LongShots,Curve,FKAcc,Penalties,Volleys,GKPositioning,GKDiving,GKHandling,GKKicking,GKReflexes
0,Afghanistan,65.500000,68.000000,172.500000,65.000000,25.500000,3.000000,2.500000,9.125000e+05,1950.000000,...,43.500000,53.000000,51.500000,54.000000,52.500000,11.000000,13.000000,6.500000,8.500000,10.500000
1,Albania,65.000000,70.620000,182.480000,75.860000,25.120000,2.940000,2.400000,2.601900e+06,8024.000000,...,49.340000,46.760000,44.380000,50.340000,44.700000,13.500000,13.500000,12.760000,13.240000,13.640000
2,Algeria,70.462963,73.166667,182.018519,75.351852,27.296296,2.944444,2.759259,5.246296e+06,21177.777778,...,50.166667,53.277778,48.796296,53.740741,47.481481,16.981481,17.148148,16.777778,16.222222,17.703704
3,Andorra,64.000000,64.000000,184.000000,79.000000,30.000000,3.000000,2.000000,4.750000e+05,1500.000000,...,32.000000,37.000000,29.000000,45.000000,41.000000,8.000000,9.000000,7.000000,12.000000,6.000000
4,Angola,67.095238,73.857143,178.523810,73.047619,24.809524,3.000000,2.809524,2.574048e+06,7066.666667,...,52.190476,54.428571,47.000000,53.666667,51.285714,13.142857,13.857143,12.238095,12.809524,12.285714

In [9]:
win_ratio = win_ratio.drop(['Unnamed: 0'], axis=1)
win_ratio.head()

     Country  total_wins  total_games  ratio_won
0  Argentina          39         65.0   0.600000
1  Australia           2         16.0   0.125000
2    Belgium          21         42.0   0.500000
3     Brazil          56         77.0   0.727273
4   Cameroon           4         23.0   0.173913

In [10]:
delta_pts = delta_pts.drop(['Unnamed: 0'], axis=1)
delta_pts.head()

      Country  win_margins  lose_margins
0   Argentina     2.823529     -2.059524
1     Belgium     2.500000     -1.903846
2      Brazil     3.790698     -1.800000
3    Cameroon     2.000000     -3.077778
4  Costa Rica     2.000000     -2.571429

In [11]:
games= games.rename(columns={"country": "Country"})
games.head()

,Country,final,group stage,quarter-finals,round of 16,second group stage,semi-finals,third-place match
0,Argentina,4.0,36.0,6.0,8.0,8.0,3.0,0.0
1,Australia,0.0,15.0,0.0,1.0,0.0,0.0,0.0
2,Belgium,0.0,27.0,3.0,6.0,2.0,2.0,2.0
3,Brazil,4.0,39.0,9.0,9.0,8.0,5.0,3.0
4,Cameroon,0.0,21.0,1.0,1.0,0.0,0.0,0.0

In [12]:
# merge dataframes on the column "Country"

In [13]:
from functools import reduce
dfs = [rank, player_avg, win_ratio, delta_pts, games] # list of dataframes

compiled_df = reduce(lambda  left,right: pd.merge(left,right,on=['Country'],
                                            how='outer'), dfs)
compiled_df

,Rank,Country,Overall,Potential,Height,Weight,Age,WeakFoot,SkillMoves,Value,...,ratio_won,win_margins,lose_margins,final,group stage,quarter-finals,round of 16,second group stage,semi-finals,third-place match
0,1.0,Brazil,70.967232,73.102825,180.677966,75.772881,26.162712,2.966102,2.554802,5.522758e+06,...,0.727273,3.790698,-1.800000,4.0,39.0,9.0,9.0,8.0,5.0,3.0
1,2.0,Belgium,67.676667,73.903333,182.300000,75.126667,24.496667,3.173333,2.416667,4.685353e+06,...,0.500000,2.500000,-1.903846,0.0,27.0,3.0,6.0,2.0,2.0,2.0
2,3.0,Argentina,67.806316,72.728421,178.816842,74.710526,26.442105,2.916842,2.473684,3.400971e+06,...,0.600000,2.823529,-2.059524,4.0,36.0,6.0,8.0,8.0,3.0,0.0
3,4.0,France,67.238569,73.587475,181.771372,75.247515,24.638171,2.895626,2.421471,4.636357e+06,...,0.580000,3.576190,-1.400000,3.0,27.0,5.0,5.0,2.0,5.0,2.0
4,5.0,England,63.272833,70.315300,181.833042,74.194881,24.467132,2.891798,2.279814,2.334097e+06,...,0.733333,3.232143,-1.064706,0.0,30.0,6.0,7.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,NaN,United Arab Emirates,63.560000,67.400000,176.400000,69.440000,26.800000,3.040000,2.200000,9.204762e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,NaN,Uzbekistan,64.625000,70.750000,179.625000,72.125000,24.625000,3.375000,2.375000,1.153125e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,NaN,Venezuela,61.721393,67.099502,177.746269,72.741294,25.189055,2.751244,2.268657,1.131020e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,NaN,Zambia,67.666667,74.000000,179.888889,75.111111,23.666667,3.222222,2.777778,3.861111e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,NaN,Zimbabwe,67.214286,70.928571,179.857143,74.142857,26.428571,3.285714,2.642857,2.076786e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
pd.set_option('display.max_columns', None)

In [15]:
compiled_df = compiled_df[(compiled_df['Country'].isin(teams_2022))]
compiled_df

,Rank,Country,Overall,Potential,Height,Weight,Age,WeakFoot,SkillMoves,Value,Wage,Nation_KitNumber,Club_KitNumber,BallControl,Dribbling,Marking,SlideTackle,StandTackle,Aggression,Reactions,AttPosition,Interceptions,Vision,Composure,Crossing,ShortPass,LongPass,Acceleration,Stamina,Strength,Balance,SprintSpeed,Agility,Jumping,Heading,ShotPower,Finishing,LongShots,Curve,FKAcc,Penalties,Volleys,GKPositioning,GKDiving,GKHandling,GKKicking,GKReflexes,total_wins,total_games,ratio_won,win_margins,lose_margins,final,group stage,quarter-finals,round of 16,second group stage,semi-finals,third-place match
0,1.0,Brazil,70.967232,73.102825,180.677966,75.772881,26.162712,2.966102,2.554802,5.522758e+06,15841.109853,12.0,21.279096,64.129944,61.331073,49.257627,49.161582,51.312994,60.401130,68.138983,55.312994,50.683616,58.764972,64.836158,55.091525,63.977401,57.731073,66.393220,65.938983,67.662147,63.723164,66.449718,65.471186,65.855367,57.781921,63.784181,51.201130,53.818079,52.977401,49.543503,54.741243,49.570621,15.854237,16.118644,15.724294,15.892655,16.342373,56.0,77.0,0.727273,3.790698,-1.800000,4.0,39.0,9.0,9.0,8.0,5.0,3.0
1,2.0,Belgium,67.676667,73.903333,182.300000,75.126667,24.496667,3.173333,2.416667,4.685353e+06,14919.666667,12.0,25.203333,60.603333,57.073333,45.990000,46.456667,48.223333,55.353333,62.580000,49.653333,46.986667,55.933333,60.656667,52.840000,60.726667,56.400000,63.823333,60.303333,64.023333,64.216667,63.550000,64.530000,64.966667,50.426667,60.153333,45.413333,48.213333,48.943333,45.296667,48.043333,44.650000,18.266667,18.416667,18.183333,18.086667,18.506667,21.0,42.0,0.500000,2.500000,-1.903846,0.0,27.0,3.0,6.0,2.0,2.0,2.0
2,3.0,Argentina,67.806316,72.728421,178.816842,74.710526,26.442105,2.916842,2.473684,3.400971e+06,10585.157895,12.0,17.023158,60.943158,58.431579,47.120000,46.127368,47.711579,57.486316,63.905263,52.948421,46.431579,55.849474,60.892632,51.175789,60.735789,54.655789,64.472632,63.560000,64.737895,64.950526,64.333684,64.454737,65.637895,54.482105,61.314737,48.567368,49.886316,49.624211,44.330526,51.426316,45.255789,16.545263,16.392632,16.363158,16.362105,16.547368,39.0,65.0,0.600000,2.823529,-2.059524,4.0,36.0,6.0,8.0,8.0,3.0,0.0
3,4.0,France,67.238569,73.587475,181.771372,75.247515,24.638171,2.895626,2.421471,4.636357e+06,13453.976143,12.0,19.766402,61.004970,58.146123,47.757455,48.030815,49.921471,56.703777,62.412525,51.207753,48.309145,55.052684,60.042744,51.854871,61.669980,55.352883,64.415507,62.129225,65.846918,63.930417,64.401590,63.178926,64.753479,54.634195,59.320080,45.987078,47.150099,49.329026,43.612326,49.811133,43.576541,15.719682,15.820080,15.544732,15.483101,16.099404,29.0,50.0,0.580000,3.576190,-1.400000,3.0,27.0,5.0,5.0,2.0,5.0,2.0
4,5.0,England,63.272833,70.315300,181.833042,74.194881,24.467132,2.891798,2.279814,2.334097e+06,9738.917976,12.0,18.353694,56.256545,53.958697,46.172193,45.197789,47.277487,54.671321,59.031995,48.528214,45.464223,52.079116,56.420593,47.621873,55.929610,50.592205,64.887144,62.584642,64.004072,64.641070,64.969168,63.536358,64.731239,50.419430,54.691099,44.261198,44.397324,45.015707,40.426992,46.616638,40.319372,15.452007,15.757999,15.696917,15.456079,15.900524,22.0,30.0,0.733333,3.232143,-1.064706,0.0,30.0,6.0,7.0,2.0,2.0,2.0
5,6.0,Spain,69.285189,74.675253,180.231831,73.692732,25.685373,3.055198,2.573137,5.212190e+06,14916.743330,12.0,17.748850,62.510580,58.661454,49.388224,47.719411,49.743330,55.850966,65.594296,53.728611,49.026679,57.663293,61.252990,54.154554,63.374425,57.041398,64.237351,62.781969,63.208832,65.416743,64.143514,64.206072,64.022999,53.447102,61.344986,49.776449,50.751610,52.478381,46.367065,50.922723,44.752530,16.856486,17.188592,16.993560,16.811408,17.266789,25.0,30.0,0.833333,3.733766,-1.241071,1.0,33.0,4.0,7.0,2.0,1.0,0.0
6,8.0,Netherlands,67.073913,73.165217,183.026087,75.917391,24.436957,2.989130,2.397826,4.045946e+06,10634.565217,12.0,19.236957,59.904348,56.486957,47.480435,46.786957,48.602174,56.771739,63.328261,49.352174,47.228261,55.256522,60.080435,50.245652,60.065217,55.367391,62.956522,61.656522,66.732609,61.860870,63.334783,61.408696,64.343478,52.932609,61.576087,45.719565,47.723913,48.782609,43.678261,48.636957,43.963043,17.700000,18.095652,17.689130,17.702174,18.145652,28.0,31.0,0.903226,3.750000,-1.083333,3.0,24.0,4.0,6.0,6.0,3.0,2.0
7,9.0,Portugal,69.783934,74.939058,180.778393,73.797784,25.581717,3.052632,2.709141,6.062230e+06,13892.243767,12.0,26.695291,64.138504,62.074792,49.800554,48.487535,51.263158,60.457064,67.149584,54.878116,50.052632,58.506925,64.468144,55.066482,63.036011,56.897507,66.689751,63.972299,64.523546,66.096953,66.113573,67.019391,64.240997,53.670360,64.207756,48.545706,51.096953,55.141274,47.119114,52.650970,48.005540,15.806094,15.889197,16.005540,15.387812,16.229917,10.0,25.0,0.400000,2.750000,-1.911111,0.0,18.0,1.0,3.0,0.0,1.0,1.0
8,10.0,Denmark,64.570492,70.875410,184.059016,77.245902,24.632787,2.940984,2.357377,2.171607e+06,8348.196721,12.0,19.154098,59.272131,55.468852,48.301639,45.019672,48.449180,56.521311,60.177049,50.721311,47.167213,54.360656,58.681967,48.409836,58.963934,53.285246,64.065574,63.836066,67.186885,63.186885,64.960656,62.590164,64.596721,51.465574,57.681967,45.652459,45.252459,47.586885,41.383607,44.363934,42.354098,15.718033,15.770492,15.622951,15.816393,16.124590,9.0,20.0,0.450000,4.333333,-2.300000,0.0,15.0,1.0,4.0,0.0,0.0,0.0
9,11.0,Germany,65.714644,71.170711,183.855230,78.248536,24.997490,3.107113,2.266946,2.983955e+06,9142.092050,12.0,19.500418,57.045188,53.782427,46.117992,44.839331,47.128033,54.772385,61.842678,47.040167,45.505439,51.984100,56.148117,48.140586,57.994979,50.923013,63.176569,62.083682,66.239331,62.144770,63.393305,62.243515,64.279498,50.560669,57.710460,43.640167,44.123849,45.217573,39.933054,45.281172,41.247699,17.540586,18.082845,17.765690,17.215063,18.061088,29.0,55.0,0.527273,4.279762,-2.500000,2.0,21.0,6.0,6.0,0.0,4.0,2.0
10,12.0,Mexico,65.691257,71.724044,177.423497,72.174863,25.016393,2.912568,2.265027,2.200658e+06,9456.986301,12.0,26.803279,57.710383,55.762295,46.759563,46.860656,48.357923,53.112022,60.781421,49.898907,46.540984,53.838798,56.661202,50.778689,59.224044,54.150273,63.606557,61.530055,61.494536,66.248634,63.713115,63.650273,64.827869,52.322404,58.603825,45.188525,47.196721,47.401639,42.581967,50.961749,42.357923,17.428962,17.546448,17.677596,17.355191,17.680328,15.0,17.0,0.882353,3.089286,-2.044118,0.0,30.0,2.0,8.0,0.0,0.0,0.0
11,13.0,Uruguay,67.384393,71.976879,179.416185,74.832370,26.291908,2.884393,2.419075,3.172743e+06,9535.294118,12.0,22.294798,61.317919,56.514451,47.867052,46.028902,48.179191,57.367052,64.075145,52.664740,47.971098,54.841040,58.390173,49.748555,60.869942,54.196532,64.670520,63.924855,65.904624,63.699422,64.147399,63.251445,65.378613,54.890173,57.887283,48.511561,49.106936,47.488439,44.528902,50.491329,44.104046,15.268786,14.913295,14.950867,15.095376,15.170520,13.0,21.0,0.619048,2.619048,-2.361538,0.0,24.0,3.0,5.0,0.0,2.0,2.0
12,14.0,United States,63.570332,70.258312,181.854220,76.851662,24.833760,2.892583,2.140665,1.314359e+06,4181.025641,12.0,23.460358,53.529412,51.176471,43.365729,42.012788,44.030691,53.759591,59.186701,46.304348,42.542199,50.762148,55.092072,43.547315,55.823529,49.864450,62.347826,59.115090,63.329923,61.616368,62.475703,60.992327,64.368286,47.419437,55.411765,41.892583,41.179028,43.419437,36.723785,44.186701,38.833760,19.560102,20.120205,19.447570,20.053708,20.335038,5.0,18.0,0.277778,2.500000,-2.166667,0.0,21.0,1.0,4.0,0.0,0.0,0.0
13,15.0,Croatia,69.451852,73.807407,185.533333,79.355556,25.755556,3.155556,2.377778,4.996037e+06,15454.814815,NaN,24.185185,60.614815,56.740741,49.333333,48.437037,51.162963,61.051852,65.333333,50.266667,49.118519,54.274074,61.762963,48.800000,61.318519,55.044444,61.392593,64.051852,70.237037,57.148148,61.866667,59.925926,62.659259,56.703704,61.214815,47.222222,49.303704,47.325926,44.481481,49.274074,45.392593,17.266667,17.407407,16.703704,16.437037,17.133333,13.0,23.0,0.565217,2.700000,-2.142857,1.0,15.0,2.0,2.0,0.0,2.0,1.0
14,16.0,Switzerland,65.019139,72.191388,182.588517,77.086124,24.650718,3.081340,2.258373,2.903029e+06,9511.961722,12.0,23.971292,57.095694,53.827751,46.956938,46.421053,47.861244,54.425837,60.220096,50.009569,46.306220,53.492823,57.693780,49.330144,57.253589,52.062201,63.976077,63.019139,66.220096,63.540670,64.287081,62.717703,65.090909,51.655502,57.516746,45.090909,45.387560,46.339713,41.464115,46.358852,41.842105,17.258373,17.354067,17.133971,16.626794,17.354067,7.0,13.0,0.538462,3.500000,-1.857143,0.0,15.0,0.0,4.0,0.0,0.0,0.0
15,18.0,Senegal,67.711111,72.325926,184.762963,76.644444,25.651852,2.962963,2.488889,4.372926e+06,13234.814815,NaN,23.577778,61.133333,58.948148,43.933333,42.637037,45.266667,57.607407,62.762963,54.377778,44.059259,53.903704,60.251852,48.362963,59.562963,50.881481,67.081481,65.200000,71.540741,59.925926,68.585185,63.792593,68.837037,60.014815,62.725926,50.903704,49.822222,46.696296,41.696296,51.925926,45.281481,14.237037,14.688889,14.088889,14.362963,14.992593,3.0,11.0,0.272727,NaN,NaN,0.0,6.0,1.0,1.0,0.0,0.0,0.0
16,19.0,Wales,63.991870,70.536585,181.235772,73.975610,24.650407,2.951220,2.276423,2.121179e+06,10713.821138,12.0,19.276423,56.886179,54.195122,46.845528,46.772358,49.048780,54.544715,59.520325,47.983740,46.495935,52.105691,57.138211,49.861789,56.853659,52.365854,65.991870,63.455285,63.097561,67.284553,65.463415,64.495935,65.317073,50.390244,53.666667,44.398374,43.894309,46.796748,40.821138,47.406504,40.609756,15.926829,16.065041,15.788618,15.853659,15.739837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,22.0,Morocco,70.409639,74.240964,181.289157,74.566265,26.590361,3.132530,2.975904,5.237952e+06,15798.795181,NaN,21.469880,68.722892,67.638554,47.096386,47.457831,49.891566,59.397590,66.903614,59.855422,48.313253,61.698795,65.698795,58.144578,67.072289,60.927711,69.180723,67.421687,64.927711,66.313253,68.421687,69.506024,61.807229,55.795181,65.662651,55.084337,57.024096,60.084337,53.144578,55.397590,53.048193,12.879518,12.530120,13.409639,12.132530,12.349398,2.0,14.0,0.142857,NaN,NaN,0.0,15.0,0.0,1.0,0.0,0.0,0.0
18,23.0,Iran,69.947368,71.947368,183.526316,76.473684,27.368421,3.210526,2.684211,2.448684e+06,10000.000000,NaN,17.368421,60.421053,58.421053,45.000000,39.894737,42.473684,53.578947,67.368421,54.578947,42.105263,58.157895,61.894737,50.473684,58.526316,51.000000,65.631579,62.842105,68.315789,63.157895,66.368421,63.473684,65.368421,55.263158,63.789474,51.263158,51.526316,50.052632,45.421053,50.947368,48.421053,20.526316,20.315789,19.842105,19.736842,21.105263,2.0,6.0,0.333333,NaN,NaN,0.0,15.0,0.0,0.0,0.0,0.0,0.0
19,24.0,Japan,64.779381,68.463918,177.503093,71.435052,26.602062,3.008247,2.280412,1.093594e+06,3828.453608,NaN,19.826804,58.014433,53.880412,45.430928,44.109278,47.090722,52.874227,60.517526,50.014433,45.383505,54.002062,55.270103,50.824742,59.123711,54.154639,62.979381,61.614433,62.890722,65.381443,62.309278,64.117526,64.911340,48.523711,55.051546,44.468041,45.797938,45.734021,42.400000,44.480412,41.752577,15.964948,16.241237,16.167010,15.828866,16.317526,5.0,18.0,0.277778,2.666667,-2.000000,0.0,18.0,0.0,3.0,0.0,0.0,0.0
20,25.0,Serbia,68.616541,72.729323,185.511278,78.323308,26.300752,2.984962,2.390977,4.307519e+06,15011.278195,NaN,19.646617,61.315789,56.789474,48.789474,47.654135,50.007519,61.601504,64.060150,51.541353,48.819549,55.496241,62.240602,51.030075,61.511278,55.466165,60.736842,63.022556,69.736842,58.248120,61.729323,59.571429,64.541353,56.285714,62.345865,47.812030,50.947368,49.812030,44.939850,50.842105,45.804511,16.045113,15.518797,15.360902,15.255639,16.015038,2.0,12.0,0.166667,NaN,NaN,0.0,6.0,0.0,0.0,0.0,0.0,0.0
21,26.0,Poland,63.345506,69.924157,182.671348,75.278090,24.620787,2.758427,2.185393,1.739308e+06,5638.135593,12.0,25.016854,54.205056,51.494382,43.528090,43.213483,44.421348,52.516854,58.898876,47.508427,43.910112,52.067416,54.651685,46.491573,55.379213,49.207865,64.025281,61.227528,63.733146,62.831461,63.803371,62.367978,63.938202,48.837079,54.323034,43.646067,43.022472,44.081461,38.320225,45.328652,39.429775,17.233146,17.786517,17.404494,16.797753,17.755618,16.0,18.0,0.888889,3.700000,-3.136364,0.0,21.0,0.0,1.0,8.0,1.0,2.0
22,28.0,Korea Republic,62.850877,66.853801,181.216374,74.049708,26.707602,3.157895,2.228070,1.128567e+06,3559.356725,NaN,22.230994,53.824561,51.415205,45.035088,44.122807,45.921053,52.839181,59.590643,49.532164,46.461988,53.362573,55.581871,46.207602,55.353801,50.078947,63.961988,62.023392,64.435673,63.657895,64.002924,62.804094,63.102339,49.213450,52.710526,42.488304,44.315789,41.850877,39.491228,43.687135,38.391813,17.149123,17.380117,16.988304,16.769006,17.453216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,30.0,Tunisia,67.310345,71.551724,182.655172,75.137931,25.448276,3.034483,2.724138,1.936207e+06,8293.103448,NaN,20.517241,64.448276,62.137931,49.068966,49.344828,52.137931,58.137931,62.413793,54.103448,49.896552,58.206897,60.068966,54.620690,63.931034,58.137931,68.034483,67.172414,66.413793,64.103448,67.793103,67.827586,62.896552,54.206897,61.551724,50.172414,53.586207,52.586207,48.620690,52.620690,47.310345,11.241379,12.379310,11.103448,12.206897,13.241379,2.0,17.0,0.117647,3.000000,-2.083333,0.0,15.0,0.0,0.0,0.0,0.0,0.0
24,34.0,Costa Rica,67.551724,69.344828,180.103448,75.172414,28.344828,2.827586,2.655172,2.177069e+06,8851.724138,NaN,19.448276,62.172414,59.241379,50.344828,46.689655,49.517241,64.689655,64.000000,54.724138,50.103448,56.034483,61.965517,52.827586,61.758621,56.000000,68.724138,63.827586,67.655172,66.275862,67.827586,66.448276,67.310345,53.793103,62.413793,49.206897,48.965517,50.827586,47.448276,49.137931,46.068966,12.827586,13.206897,13.310345,12.068966,14.241379,6.0,18.0,0.333333,2.000000,-2.571429,0.0,15.0,1.0,2.0,0.0,0.0,0.0
25,38.0,Cameroon,67.447059,72.870588,182.705882,77.847059,24.682353,2.952941,2.352941,3.452169e+06,11857.831325,12.0,21.317647,62.388235,60.329412,48.552941,46.647059,50.105882,58.988235,62.647059,53.635294,48.000000,54.941176,60.529412,49.282353,62.400000,55.211765,67.988235,67.035294,71.082353,64.023529,68.788235,65.200000,69.211765,57.823529,61.247059,47.505882,48.917647,48.388235,39.505882,50.447059,44.705882,13.611765,14.235294,13.611765,13.270588,13.988235,4.0,23.0,0.173913,2.000000,-3.077778,0.0,21.0,1.0,1.0,0.0,0.0,0.0
26,39.0,Australia,61.027778,66.964286,180.722222,74.714286,24.496032,2.928571,2.206349,7.351613e+05,3219.758065,12.0,18.634921,53.511905,51.325397,44.349206,44.309524,46.083333,52.261905,55.380952,46.773810,44.166667,50.174603,54.865079,45.876984,54.797619,48.876984,63.956349,61.678571,62.765873,63.789683,63.849206,63.075397,62.797619,45.543651,51.015873,41.932540,40.527778,42.285714,36.539683,44.396825,37.210317,15.960317,16.285714,16.226190,16.400794,16.456349,2.0,16.0,0.125000,NaN,NaN,0.0,15.0,0.0,1.0,0.0,0.0,0.0
27,43.0,Canada,62.831169,69.727273,182.207792,76.623377,24.597403,2.818182,2.207792,1.935120e+06,4889.333333,12.0,28.376623,52.922078,50.948052,43.142857,42.337662,45.454545,55.584416,58.103896,44.857143,43.142857,50.636364,55.259740,42.779221,54.610390,48.766234,62.454545,57.844156,65.337662,61.519481,62.285714,60.883117,64.662338,48.142857,55.000000,41.506494,41.688312,43.415584,34.961039,44.077922,38.727273,18.064935,18.857143,17.064935,16.740260,18.025974,0.0,3.0,0.000000,NaN,NaN,0.0,3.0,0.0,0.0,0.0,0.0,0.0
28,44.0,Ecuador,64.186235,69.348178,178.267206,73.137652,25.546559,2.809717,2.319838,1.289464e+06,5312.946429,12.0,25.437247,57.437247,52.939271,42.975709,42.178138,44.676113,51.708502,60.550607,49.785425,44.080972,51.546559,53.259109,48.477733,57.497976,49.902834,65.562753,62.198381,62.732794,65.004049,65.514170,63.251012,63.404858,50.251012,54.724696,46.412955,45.283401,43.769231,39.331984,46.753036,40.457490,15.821862,15.692308,15.740891,15.615385,15.931174,4.0,10.0,0.400000,3.500000,-2.750000,0.0,9.0,0.0,1.0,0.0,0.0,0.0
29,49.0,Qatar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,53.0,Saudi Arabia,60.129747,64.990506,176.898734,70.446203,25.984177,2.946203,2.117089,5.049209e+05,5089.556962,NaN,25.560127,51.772152,49.753165,43.515823,43.117089,44.588608,51.895570,54.803797,44.816456,44.018987,48.844937,50.560127,45.376582,52.015823,47.110759,63.569620,59.636076,61.936709,65.876582,63.167722,62.506329,64.398734,46.591772,49.639241,38.341772,39.778481,41.006329,37.313291,41.585443,36.411392,16.300633,16.354430,16.123418,15.955696,16.550633,3.0,14.0,0.214286,2.000000,-4.700000,0.0,15.0,0.0,1.0,0.0,0.0,0.0
31,60.0,Ghana,67.278689,72.639344,178.565574,72.959016,24.524590,2.926230,2.696721,2.831639e+06,9889.344262,NaN,21.327869,64.549180,63.770492,47.672131,47.286885,50.303279,61.754098,63.081967,55.754098,48.295082,56.516393,60.983607,53.491803,63.344262,56.081967,74.016393,66.385246,65.557377,70.639344,73.614754,71.770492,71.204918,54.081967,63.729508,51.418033,53.237705,51.729508,42.581967,51.147541,48.598361,11.393443,11.909836,11.508197,11.573770,11.393443,4.0,14.0,0.285714,2.333333,-1.866667,0.0,9.0,1.0,2.0,0.0,0.0,0.0

In [16]:
#remove data that we consider irrelevant to predicting the feature
df_matches = df_matches.drop(['date', 'Unnamed: 0', 'home_score', 'away_score', 'tournament', 'city', 'country', 'neutral','year'], axis=1)

In [17]:
#if we are going to split the data per country, we will need to define the match data below differently:
#each row is one of the 32 countries
#previous match data would be a column
#ie. Belgium on row, and United States, Mexico, Yugoslavia, etc on y axis
#not exactly sure if this will work

In [18]:
#define home team, away team, and winning team
#The winning team column will show "2" if the home team has won, "1" if it was a tie, and "0" if the away team has won
#The model will be build to predict the "winning_team"

df_matches = df_matches.reset_index(drop=True)
df_matches.loc[df_matches.winning_team == df_matches.home_team,'winning_team']=2
df_matches.loc[df_matches.winning_team == 'draw', 'winning_team']=1
df_matches.loc[df_matches.winning_team == df_matches.away_team, 'winning_team']=0

df_matches

       home_team      away_team winning_team  goal_difference
0        Belgium  United States            0                3
1         France         Mexico            2                3
2         Brazil     Yugoslavia            0                1
3      Argentina         France            2                1
4          Chile         Mexico            2                3
...          ...            ...          ...              ...
4177  Costa Rica  United States            2                2
4178      Panama         Canada            2                1
4179       Wales        Ukraine            2                1
4180   Australia           Peru            1                0
4181  Costa Rica    New Zealand            2                1

[4182 rows x 4 columns]

# Running (up that hill) the model

In [19]:
final = pd.get_dummies(df_matches, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

# Separate X and y sets
X = final.drop(['winning_team'], axis=1)
y = final["winning_team"]
y=y.astype('int')

# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [ ]:
#classify data as 0, 1, or 2 (home team lost, drew, or won)
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

score = classifier.score(X_train, y_train)
score2 = classifier.score(X_test, y_test)
print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

In [ ]:
schedule = pd.read_csv('Data/schedule.csv')

In [ ]:
rank = pd.read_csv("Features/fifa_rank.csv")
rank

In [ ]:
# Create new columns with ranking position of each team
schedule.insert(1, 'first_position', schedule['Home Team'].map(rank.set_index('Country')['Rank']))
schedule.insert(2, 'second_position', schedule['Away Team'].map(rank.set_index('Country')['Rank']))

# We only need the group stage games, so we have to slice the dataset
schedule = schedule.iloc[:48, :]
schedule

In [ ]:
pred_set= []
for index, row in schedule.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'home_team': row['Home Team'], 'away_team': row['Away Team'], 'winning_team': None})
    else:
        pred_set.append({'home_team': row['Away Team'], 'away_team': row['Home Team'], 'winning_team': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set

pred_set.head()

In [ ]:
# # Get dummy variables and drop winning_team column
pred_set = pd.get_dummies(pred_set, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

# Add missing columns compared to the model's training dataset
missing_cols = set(final.columns) - set(pred_set.columns)
for c in missing_cols:
    pred_set[c] = 0
pred_set = pred_set[final.columns]

# Remove winning team column
pred_set = pred_set.drop(['winning_team'], axis=1)

pred_set.head()

In [ ]:
#group matches
predictions = classifier.predict(pred_set)
for i in range(schedule.shape[0]):
    print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
    if predictions[i] == 2:
        print("Winner: " + backup_pred_set.iloc[i, 1])
    elif predictions[i] == 1:
        print("Draw")
    elif predictions[i] == 0:
        print("Winner: " + backup_pred_set.iloc[i, 0])
    print('Probability of ' + backup_pred_set.iloc[i, 1] + ' winning: ', '%.3f'%(classifier.predict_proba(pred_set)[i][2]))
    print('Probability of Draw: ', '%.3f'%(classifier.predict_proba(pred_set)[i][1]))
    print('Probability of ' + backup_pred_set.iloc[i, 0] + ' winning: ', '%.3f'%(classifier.predict_proba(pred_set)[i][0]))
    print("")