In [1]:
# Import our dependencies
import pandas as pd
import numpy as np

In [9]:
#load data
rank_df = pd.read_csv('data/fifa_rankings.csv', encoding='latin-1')
rank_df.tail()

     Rank                 Country  Points
206   207               Sri Lanka  825.25
207   208       US Virgin Islands  823.97
208   209  British Virgin Islands  809.32
209   210                Anguilla  790.74
210   211              San Marino  763.82

In [3]:
teams_2022 = ['Qatar', 'Netherlands', 'Senegal', 'Ecuador', 
            'England', 'United States', 'Wales', 'Iran', 
            'Argentina', 'Poland', 'Mexico', 'Saudi Arabia', 
            'France', 'Denmark', 'Tunisia', 'Australia', 
            'Germany', 'Spain', 'Japan', 'Costa Rica', 
            'Belgium', 'Croatia', 'Canada', 'Morocco', 
            'Brazil', 'Switzerland', 'Serbia', 'Cameroon', 
            'Portugal', 'Uruguay', 'Ghana', 'Korea Republic']

In [10]:
wc22 = rank_df[(rank_df['Country'].isin(teams_2022))]
wc22.tail()

    Rank       Country   Points
42    43        Canada  1473.82
43    44       Ecuador  1463.74
48    49         Qatar  1441.41
52    53  Saudi Arabia  1435.74
59    60         Ghana  1389.68

In [5]:
# saving to a csv
wc22.to_csv("fifa_rank.csv")