In [1]:
# DEPENDENCIES
import pandas as pd
import numpy as np
import glob
# from os import walk

In [2]:
# NOTE: FIFA TYPICALLY RELEASES RATINGS IN SEPTEMBER OF EACH YEAR. 
        # WITH 2022 BEING A NOTABLE EXCEPTION, THE WORLD CUP IS HELD IN JUNE EVERY FOUR YEARS

# CSV FILES FOR FIFA PLAYERS IN THE LAST DECADE
# Before the 2020 World Cup
players_2021 = "Data/2021.csv"
players_2020 = "Data/2020.csv"
players_2019 = "Data/2019.csv"
players_2018 = "Data/2018.csv"
# Before the 2018 World Cup
players_2017 = "Data/2017.csv"
players_2016 = "Data/2016.csv"
players_2015 = "Data/2015.csv"
players_2014 = "Data/2014.csv"
# Before the 2014 World Cup
players_2013 = "Data/2013.csv"
players_2012 = "Data/2012.csv"

# PLAYER CSV FILES AS LIST (FOR LOOPS LATER IF NEEDED)
player_csvs = [players_2021,players_2020, players_2019,players_2018, players_2017, players_2016, players_2015, players_2014, players_2013, players_2012]

# HISOTRIC PLAYER APPEARANCES CSV FILE
file1_18624records = "Data/player_appearances.csv"
playerApps_df = pd.read_csv(file1_18624records)
playerApps_df["Name"] = playerApps_df["given_name"] + " " + playerApps_df["family_name"]

# PLAYER DATA CSV FILE
# file2_7908records = "Data/players.csv"
# playerData_df = pd.read_csv(file2_7908records)


# CHANGING MATCH_DATE TO DATETIME IN ORDER TO EXTRACT THE MATCH YEAR
playerApps_df["match_date"] = pd.to_datetime(playerApps_df["match_date"])
playerApps_df["match_year"] = playerApps_df["match_date"].dt.year

In [3]:
# TEAMS THAT QUALIFIED FOR THE 2022 WORLD CUP
teams_2022 = ['Qatar', 'Netherlands', 'Senegal', 'Ecuador', 
            'England', 'United States', 'Wales', 'Iran', 
            'Argentina', 'Poland', 'Mexico', 'Saudi Arabia', 
            'France', 'Denmark', 'Tunisia', 'Australia', 
            'Germany', 'Spain', 'Japan', 'Costa Rica', 
            'Belgium', 'Croatia', 'Canada', 'Morocco', 
            'Brazil', 'Switzerland', 'Serbia', 'Cameroon', 
            'Portugal', 'Uruguay', 'Ghana', 'Korea Republic']

In [19]:
# CREATING DATAFRAME OF ALL PLAYER CSV FILES

df_list = []
for file in glob.glob("Data/Players_EAFIFA/*.csv"):
    year = file.split(".")[0]
    df = pd.read_csv(file).assign(year = year)
    df_list.append(df)

df = pd.concat(df_list)

df["year2"] = [x.strip()[-4:] for x in df["year"]]
df.drop(columns=["year"])

df = df.rename(columns={"Natinality":"Nationality","Overal":"Overall", "year":"file_source", "year2":"data_year"})

# df.info()
# df["Nation_KitNumber"].unique()
df["Name"].tail(50)

19067           Matteo Politano
19068                 Cucurella
19069                  Angeliño
19070            James Maddison
19071          Davinson Sánchez
19072            Manuel Lazzari
19073              Tomáš Souček
19074         Dominik Livaković
19075                Rúben Dias
19076              Moussa Diaby
19077                Renan Lodi
19078           Steven Berghuis
19079          Gianluigi Buffon
19080            Danilo Pereira
19081               Lucas Moura
19082         Agustín Marchesín
19083          Gabriel Paulista
19084              Tomáš Vaclík
19085                 Nick Pope
19086              Diego Carlos
19087           Martin Dúbravka
19088           Lucas Hernández
19089         Donny van de Beek
19090           Martin Ødegaard
19091              Marcos Acuña
19092       Georginio Wijnaldum
19093           Alejandro Gómez
19094          Leonardo Bonucci
19095             Péter Gulácsi
19096               Kai Havertz
19097            Erling Haaland
19098         Toby Alderweireld
19099                   Fabinho
19100           Bruno Fernandes
19101           Aymeric Laporte
19102          Andrew Robertson
19103     Marc-André ter Stegen
19104    Trent Alexander-Arnold
19105           Virgil van Dijk
19106             Kylian Mbappé
19107                Sadio Mané
19108             Mohamed Salah
19109                   Alisson
19110        Robert Lewandowski
19111                 Neymar Jr
19112           Kevin De Bruyne
19113                 Jan Oblak
19114         Cristiano Ronaldo
19115              Robson Denho
19116           Eltildo Correia
Name: Name, dtype: object

In [5]:
# playerApps_df["Name"]
# playerApps_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18623 entries, 0 to 18622
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   key_id           18623 non-null  int64
 1   tournament_id    18623 non-null  object
 2   tournament_name  18623 non-null  object
 3   match_id         18623 non-null  object
 4   match_name       18623 non-null  object
 5   match_date       18623 non-null  datetime64[ns]
 6   stage_name       18623 non-null  object
 7   group_name       18623 non-null  object
 8   team_id          18623 non-null  object
 9   team_name        18623 non-null  object
 10  team_code        18623 non-null  object
 11  home_team        18623 non-null  int64
 12  away_team        18623 non-null  int64
 13  player_id        18623 non-null  object
 14  family_name      18623 non-null  object
 15  given_name       18623 non-null  object
 16  shirt_number     18623 non-null  int64
 17  position_name    18623 non-null  object
 18  position_code    18623 non-null  object
 19  starter          18623 non-null  int64
 20  substitute       18623 non-null  int64
 21  captain          18623 non-null  int64
 22  Name             18623 non-null  object
 23  match_year       18623 non-null  int64
dtypes: datetime64[ns](1), int64(8), object(15)
memory usage: 3.4+ MB

The raw dataset for 2012-2022 reveals 50,234 unique players from 188 countries who played for 1,366 different clubs during the period. In total, there were 172,125 records in the raw dataset.

In [6]:
# MODIFICATIONS FOR MACHINE LEARNING

# adding a binary column indicating the preferred foot
df["PreferredFoot"].unique()
df.loc[df["PreferredFoot"] == "L", "PreferredFootNum"]=1
df.loc[df["PreferredFoot"] == "R", "PreferredFootNum"]=0

# dropping columns
df2 = df.drop(columns=["PreferredFoot","BirthDate", "Nation", "Nation_Position", "Nation_KitNumber", 
                       "Club","Club_Position", "Club_KitNumber", "Club_JoinedClub", "Club_ContractLength",
                       "Traits", "Specialities", "file_source"])
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172125 entries, 0 to 19116
Data columns (total 50 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ID                  172125 non-null  int64
 1   Name                172125 non-null  object
 2   Nationality         172125 non-null  object
 3   Overall             172125 non-null  int64
 4   Potential           172125 non-null  int64
 5   Height              172125 non-null  int64
 6   Weight              172125 non-null  int64
 7   Age                 172125 non-null  int64
 8   PreferredPositions  172125 non-null  object
 9   PlayerWorkRate      172125 non-null  object
 10  WeakFoot            172125 non-null  int64
 11  SkillMoves          172125 non-null  int64
 12  Value               169528 non-null  float64
 13  Wage                169528 non-null  float64
 14  BallControl         172125 non-null  int64
 15  Dribbling           172125 non-null  int64
 16  Marking             172125 non-null  int64
 17  SlideTackle         172125 non-null  int64
 18  StandTackle         172125 non-null  int64
 19  Aggression          172125 non-null  int64
 20  Reactions           172125 non-null  int64
 21  AttPosition         172125 non-null  int64
 22  Interceptions       172125 non-null  int64
 23  Vision              172125 non-null  int64
 24  Composure           92345 non-null   float64
 25  Crossing            172125 non-null  int64
 26  ShortPass           172125 non-null  int64
 27  LongPass            172125 non-null  int64
 28  Acceleration        172125 non-null  int64
 29  Stamina             172125 non-null  int64
 30  Strength            172125 non-null  int64
 31  Balance             172125 non-null  int64
 32  SprintSpeed         172125 non-null  int64
 33  Agility             172125 non-null  int64
 34  Jumping             172125 non-null  int64
 35  Heading             172125 non-null  int64
 36  ShotPower           172125 non-null  int64
 37  Finishing           172125 non-null  int64
 38  LongShots           172125 non-null  int64
 39  Curve               172125 non-null  int64
 40  FKAcc               172125 non-null  int64
 41  Penalties           172125 non-null  int64
 42  Volleys             172125 non-null  int64
 43  GKPositioning       172125 non-null  int64
 44  GKDiving            172125 non-null  int64
 45  GKHandling          172125 non-null  int64
 46  GKKicking           172125 non-null  int64
 47  GKReflexes          172125 non-null  int64
 48  data_year           172125 non-null  object
 49  PreferredFootNum    172125 non-null  float64
dtypes: float64(4), int64(41), object(5)
memory usage: 67.0+ MB

In [7]:
df["Club"].nunique()

1366

In [16]:
# merging on the name created an additioanl 29,172 records (+16.9%). 
# The player_id is not null for 38,066 records
df_wc = pd.merge(df2,playerApps_df[["player_id","Name"]], on="Name", how="inner")
# WC_2022_Country = df_wc["Nationality"].isin(teams_2022)
# df_wc2["WC_2022_Country"]=df_wc[WC_2022_Country]
# df_wc2.info()

In [28]:
df_wc2["Prev_WC_Appearance"] = np.where(df_wc2["player_id"].notnull(), "True", "False")

df_wc2.drop_duplicates(keep=False)
df_wc2[["Name", "Prev_WC_Appearance", "data_year"]]

                       Name Prev_WC_Appearance data_year
0              Lionel Messi               True      2012
1              Lionel Messi               True      2012
2              Lionel Messi               True      2012
3              Lionel Messi               True      2012
4              Lionel Messi               True      2012
...                     ...                ...       ...
38053    Alireza Beiranvand               True      2021
38054    Alireza Beiranvand               True      2021
38060  Morteza Pouraliganji               True      2021
38061  Morteza Pouraliganji               True      2021
38062  Morteza Pouraliganji               True      2021

[28519 rows x 3 columns]

In [15]:
df_wc2[["Prev_WC_Appearance", "Nationality", "ID"]].groupby(["Nationality", "Prev_WC_Appearance"]).nunique("ID")

                                  ID
Nationality   Prev_WC_Appearance
Argentina     True                55
Australia     True                38
Belgium       True                31
Brazil        True                34
Cameroon      True                19
Costa Rica    True                25
Croatia       True                29
Denmark       True                40
Ecuador       True                21
England       True                73
France        True                75
Germany       True                53
Ghana         True                30
Iran          True                18
Japan         True                38
Mexico        True                55
Morocco       True                16
Netherlands   True                46
Poland        True                34
Portugal      True                41
Saudi Arabia  True                 9
Senegal       True                23
Serbia        True                38
Spain         True                50
Switzerland   True                40
Tunisia       True                25
United States True                42
Uruguay       True                43

In [24]:
df_wc3 = np.where(df_wc2[df_wc2["Prev_WC_Appearance"]=="False"])
df_wc3

(array([], dtype=int64), array([], dtype=int64))