In [1]:
# run dependencies

import pandas as pd
from sqlalchemy import create_engine

In [2]:
historic_csv = "Data/matches.csv"

In [3]:
history = pd.read_csv(historic_csv)
history

,key_id,tournament_id,tournament_name,match_id,match_name,stage_name,group_name,group_stage,knockout_stage,replayed,...,away_team_score_margin,extra_time,penalty_shootout,score_penalties,home_team_score_penalties,away_team_score_penalties,result,home_team_win,away_team_win,draw
0,1,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,group stage,Group 1,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
1,2,WC-1930,1930 FIFA World Cup,M-1930-02,United States v Belgium,group stage,Group 4,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
2,3,WC-1930,1930 FIFA World Cup,M-1930-03,Yugoslavia v Brazil,group stage,Group 2,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
3,4,WC-1930,1930 FIFA World Cup,M-1930-04,Romania v Peru,group stage,Group 3,1,0,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
4,5,WC-1930,1930 FIFA World Cup,M-1930-05,Argentina v France,group stage,Group 1,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,896,WC-2018,2018 FIFA World Cup,M-2018-60,Russia v Croatia,quarter-finals,not applicable,0,1,0,...,0,1,1,3â€“4,3,4,away team win,0,1,0
896,897,WC-2018,2018 FIFA World Cup,M-2018-61,France v Belgium,semi-finals,not applicable,0,1,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
897,898,WC-2018,2018 FIFA World Cup,M-2018-62,Croatia v England,semi-finals,not applicable,0,1,0,...,-1,1,0,0-0,0,0,home team win,1,0,0
898,899,WC-2018,2018 FIFA World Cup,M-2018-63,Belgium v England,third-place match,not applicable,0,1,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
899,900,WC-2018,2018 FIFA World Cup,M-2018-64,France v Croatia,final,not applicable,0,1,0,...,-2,0,0,0-0,0,0,home team win,1,0,0

In [4]:
# iterating the columns
for col in history.columns:
    print(col)

key_id
tournament_id
tournament_name
match_id
match_name
stage_name
group_name
group_stage
knockout_stage
replayed
replay
match_date
match_time
stadium_id
stadium_name
city_name
country_name
home_team_id
home_team_name
home_team_code
away_team_id
away_team_name
away_team_code
score
home_team_score
away_team_score
home_team_score_margin
away_team_score_margin
extra_time
penalty_shootout
score_penalties
home_team_score_penalties
away_team_score_penalties
result
home_team_win
away_team_win
draw

In [5]:
history['match_date'] = pd.to_datetime(history['match_date'], format='%Y-%m-%d')

In [6]:
history_df =  history.loc[(history["match_date"] >= '1970-01-01')]
history_df

,key_id,tournament_id,tournament_name,match_id,match_name,stage_name,group_name,group_stage,knockout_stage,replayed,...,away_team_score_margin,extra_time,penalty_shootout,score_penalties,home_team_score_penalties,away_team_score_penalties,result,home_team_win,away_team_win,draw
200,201,WC-1970,1970 FIFA World Cup,M-1970-01,Mexico v Soviet Union,group stage,Group 1,1,0,0,...,0,0,0,0-0,0,0,draw,0,0,1
201,202,WC-1970,1970 FIFA World Cup,M-1970-02,Uruguay v Israel,group stage,Group 2,1,0,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
202,203,WC-1970,1970 FIFA World Cup,M-1970-03,England v Romania,group stage,Group 3,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
203,204,WC-1970,1970 FIFA World Cup,M-1970-04,Peru v Bulgaria,group stage,Group 4,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
204,205,WC-1970,1970 FIFA World Cup,M-1970-05,Belgium v El Salvador,group stage,Group 1,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,896,WC-2018,2018 FIFA World Cup,M-2018-60,Russia v Croatia,quarter-finals,not applicable,0,1,0,...,0,1,1,3â€“4,3,4,away team win,0,1,0
896,897,WC-2018,2018 FIFA World Cup,M-2018-61,France v Belgium,semi-finals,not applicable,0,1,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
897,898,WC-2018,2018 FIFA World Cup,M-2018-62,Croatia v England,semi-finals,not applicable,0,1,0,...,-1,1,0,0-0,0,0,home team win,1,0,0
898,899,WC-2018,2018 FIFA World Cup,M-2018-63,Belgium v England,third-place match,not applicable,0,1,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
899,900,WC-2018,2018 FIFA World Cup,M-2018-64,France v Croatia,final,not applicable,0,1,0,...,-2,0,0,0-0,0,0,home team win,1,0,0

In [7]:
history_df['tournament_id'].str.contains('WC')

200    True
201    True
202    True
203    True
204    True
       ...
895    True
896    True
897    True
898    True
899    True
Name: tournament_id, Length: 700, dtype: bool

In [8]:
home_wins = history_df[["home_team_name", "home_team_win"]].groupby("home_team_name").count()
home_wins

                home_team_win
home_team_name
Algeria                     6
Angola                      1
Argentina                  48
Australia                   7
Austria                     8
...                       ...
United States              12
Uruguay                    17
West Germany               24
Yugoslavia                  6
Zaire                       2

[78 rows x 1 columns]

In [9]:
away_wins = history_df[["away_team_name", "away_team_win"]].groupby("away_team_name").count()

In [10]:
home_wins.index.names = ['Country']
home_wins

               home_team_win
Country
Algeria                    6
Angola                     1
Argentina                 48
Australia                  7
Austria                    8
...                      ...
United States             12
Uruguay                   17
West Germany              24
Yugoslavia                 6
Zaire                      2

[78 rows x 1 columns]

In [11]:
away_wins = away_wins.rename(columns = {'away_team_win':'Wins'})

In [12]:
away_wins.index.names = ['Country']
away_wins

               Wins
Country
Algeria           7
Angola            2
Argentina        17
Australia         9
Austria           9
...             ...
United States    14
Uruguay          19
West Germany     16
Yugoslavia       12
Zaire             1

[81 rows x 1 columns]

In [13]:
# away_wins = away_wins.rename(columns = {'away_team_name': 'Country'})

In [14]:
country_wins = pd.merge(home_wins, away_wins, on='Country',how='inner')

In [15]:
country_wins

               home_team_win  Wins
Country
Algeria                    6     7
Angola                     1     2
Argentina                 48    17
Australia                  7     9
Austria                    8     9
...                      ...   ...
United States             12    14
Uruguay                   17    19
West Germany              24    16
Yugoslavia                 6    12
Zaire                      2     1

[78 rows x 2 columns]

In [16]:
country_wins = country_wins['home_team_win'] + country_wins['Wins']

In [17]:
country_wins

Country
Algeria          13
Angola            3
Argentina        65
Australia        16
Austria          17
                 ..
United States    26
Uruguay          36
West Germany     40
Yugoslavia       18
Zaire             3
Length: 78, dtype: int64

In [18]:
total_wins = pd.DataFrame(country_wins)

In [19]:
total_wins

                0
Country
Algeria        13
Angola          3
Argentina      65
Australia      16
Austria        17
...            ..
United States  26
Uruguay        36
West Germany   40
Yugoslavia     18
Zaire           3

[78 rows x 1 columns]