In [22]:
# Import our dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [23]:
#load data
history = pd.read_csv('data/results.csv')

In [24]:
history.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [25]:
#add a winning_team column to show which team won
winner = []
for i in range (len(history['home_team'])):
    if history['home_score'][i] > history['away_score'][i]:
        winner.append(history['home_team'][i])
    elif history['home_score'][i] < history['away_score'][i]:
        winner.append(history['away_team'][i])
    else:
        winner.append('draw')
history['winning_team']=winner
history

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,draw
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,England
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,Scotland
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,draw
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,Scotland
...,...,...,...,...,...,...,...,...,...,...
43747,2022-06-14,Moldova,Andorra,2,1,UEFA Nations League,Chișinău,Moldova,False,Moldova
43748,2022-06-14,Liechtenstein,Latvia,0,2,UEFA Nations League,Vaduz,Liechtenstein,False,Latvia
43749,2022-06-14,Chile,Ghana,0,0,Kirin Cup,Suita,Japan,True,draw
43750,2022-06-14,Japan,Tunisia,0,3,Kirin Cup,Suita,Japan,False,Tunisia
43751,2022-06-14,South Korea,Egypt,4,1,Friendly,Seoul,South Korea,False,South Korea

In [26]:
#add a goal difference column
history['goal_difference']= np.absolute(history['home_score']-history['away_score'])

history.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team,goal_difference
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,draw,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,England,2
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,Scotland,1
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,draw,0
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,Scotland,3

In [27]:
#limit the dataset to the relevant teams playing in the 2022 world cup
teams_2022 = ['Qatar', 'Netherlands', 'Senegal', 'Ecuador', 
            'England', 'USA', 'Wales', 'Iran', 
            'Argentina', 'Poland', 'Mexico', 'Saudi Arabia', 
            'France', 'Denmark', 'Tunisia', 'Australia', 
            'Germany', 'Spain', 'Japan', 'Costa Rica', 
            'Belgium', 'Croatia', 'Canada', 'Morocco', 
            'Brazil', 'Switzerland', 'Serbia', 'Cameroon', 
            'Portugal', 'Uruguay', 'Ghana', 'Korea Republic']

In [28]:
#only need data on relevant teams
history = history[(history['home_team'].isin(teams_2022)) | (history['away_team'].isin(teams_2022))]
history

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team,goal_difference
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,draw,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,England,2
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,Scotland,1
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,draw,0
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,Scotland,3
...,...,...,...,...,...,...,...,...,...,...,...
43738,2022-06-14,Germany,Italy,5,2,UEFA Nations League,Mönchengladbach,Germany,False,Germany,3
43739,2022-06-14,Netherlands,Wales,3,2,UEFA Nations League,Rotterdam,Netherlands,False,Netherlands,1
43740,2022-06-14,Poland,Belgium,0,1,UEFA Nations League,Warsaw,Poland,False,Belgium,1
43749,2022-06-14,Chile,Ghana,0,0,Kirin Cup,Suita,Japan,True,draw,0
43750,2022-06-14,Japan,Tunisia,0,3,Kirin Cup,Suita,Japan,False,Tunisia,3

In [29]:
#create a year column
year = []
for row in history['date']:
    year.append(int(row[:4]))
history['year'] = year

C:\Users\US11338\AppData\Local\Temp/ipykernel_21164/1850668882.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  history['year'] = year

In [30]:
#drop games before 1930
df_matches = history[history.year >= 1930]
df_matches

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winning_team,goal_difference,year
1266,1930-01-01,Spain,Czechoslovakia,1,0,Friendly,Barcelona,Spain,False,Spain,1,1930
1267,1930-01-12,Portugal,Czechoslovakia,1,0,Friendly,Lisbon,Portugal,False,Portugal,1,1930
1269,1930-02-01,Northern Ireland,Wales,7,0,British Championship,Belfast,Northern Ireland,False,Northern Ireland,7,1930
1270,1930-02-09,Italy,Switzerland,4,2,Friendly,Rome,Italy,False,Italy,2,1930
1273,1930-02-23,Portugal,France,2,0,Friendly,Porto,Portugal,False,Portugal,2,1930
...,...,...,...,...,...,...,...,...,...,...,...,...
43738,2022-06-14,Germany,Italy,5,2,UEFA Nations League,Mönchengladbach,Germany,False,Germany,3,2022
43739,2022-06-14,Netherlands,Wales,3,2,UEFA Nations League,Rotterdam,Netherlands,False,Netherlands,1,2022
43740,2022-06-14,Poland,Belgium,0,1,UEFA Nations League,Warsaw,Poland,False,Belgium,1,2022
43749,2022-06-14,Chile,Ghana,0,0,Kirin Cup,Suita,Japan,True,draw,0,2022
43750,2022-06-14,Japan,Tunisia,0,3,Kirin Cup,Suita,Japan,False,Tunisia,3,2022

In [40]:
#drop columns that do not affect match outcomes
#likely, the date, home_score, away_score, tournament, city, country, neutral, and match_year should not make a difference
df_matches = df_matches.drop(['date', 'home_score', 'away_score', 'tournament', 'city', 'country', 'neutral','year'], axis=1)
df_matches

KeyError: "['date' 'home_score' 'away_score' 'tournament' 'city' 'country' 'neutral'\n 'year'] not found in axis"

In [41]:
#Building the model
#Target: The winning team column will show "2" if the home team has won, "1" if it was a tie, and "0" if the away team has won
#The model will be build to predict the "winning_team"

df_matches = df_matches.reset_index(drop=True)
df_matches.loc[df_matches.winning_team == df_matches.home_team,'winning_team']=2
df_matches.loc[df_matches.winning_team == 'draw', 'winning_team']=1
df_matches.loc[df_matches.winning_team == df_matches.away_team, 'winning_team']=0

df_matches

              home_team       away_team winning_team
0                 Spain  Czechoslovakia            2
1              Portugal  Czechoslovakia            2
2      Northern Ireland           Wales            2
3                 Italy     Switzerland            2
4              Portugal          France            2
...                 ...             ...          ...
16530           Germany           Italy            2
16531       Netherlands           Wales            2
16532            Poland         Belgium            0
16533             Chile           Ghana            1
16534             Japan         Tunisia            0

[16535 rows x 3 columns]

In [42]:
final = pd.get_dummies(df_matches, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

# Separate X and y sets
X = final.drop(['winning_team'], axis=1)
y = final["winning_team"]
y=y.astype('int')

# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [45]:
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

score = classifier.score(X_train, y_train)
score2 = classifier.score(X_test, y_test)
print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.586
Test set accuracy:  0.572

C:\Users\US11338\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [57]:
#load data
rank = pd.read_csv('data/fifa_rankings.csv', encoding='latin-1')
rank

     Rank                 Country   Points
0       1                  Brazil  1837.56
1       2                 Belgium  1821.92
2       3               Argentina  1770.65
3       4                  France  1764.85
4       5                 England  1737.46
..    ...                     ...      ...
206   207               Sri Lanka   825.25
207   208       US Virgin Islands   823.97
208   209  British Virgin Islands   809.32
209   210                Anguilla   790.74
210   211              San Marino   763.82

[211 rows x 3 columns]

In [60]:
schedule = pd.read_csv('Data/schedule.csv')

# Create new columns with ranking position of each team
schedule.insert(1, 'first_position', schedule['Home Team'].map(rank.set_index('Country')['Rank']))
schedule.insert(2, 'second_position', schedule['Away Team'].map(rank.set_index('Country')['Rank']))

# We only need the group stage games, so we have to slice the dataset
schedule = schedule.iloc[:48, :]
schedule

,Match Number,first_position,second_position,Round Number,Date,Location,Home Team,Away Team,Group,Result
0,2,18.0,8.0,1,21/11/2022 10:00,Al Thumama Stadium,Senegal,Netherlands,Group A,NaN
1,3,5.0,23.0,1,21/11/2022 13:00,Khalifa International Stadium,England,Iran,Group B,NaN
2,1,49.0,44.0,1,21/11/2022 16:00,Al Bayt Stadium,Qatar,Ecuador,Group A,NaN
3,4,NaN,19.0,1,21/11/2022 19:00,Ahmad Bin Ali Stadium,USA,Wales,Group B,NaN
4,8,3.0,53.0,1,22/11/2022 10:00,Lusail Stadium,Argentina,Saudi Arabia,Group C,NaN
5,6,10.0,30.0,1,22/11/2022 13:00,Education City Stadium,Denmark,Tunisia,Group D,NaN
6,7,12.0,26.0,1,22/11/2022 16:00,Stadium 974,Mexico,Poland,Group C,NaN
7,5,4.0,39.0,1,22/11/2022 19:00,Al Janoub Stadium,France,Australia,Group D,NaN
8,12,22.0,15.0,1,23/11/2022 10:00,Al Bayt Stadium,Morocco,Croatia,Group F,NaN
9,11,11.0,24.0,1,23/11/2022 13:00,Khalifa International Stadium,Germany,Japan,Group E,NaN
10,10,6.0,34.0,1,23/11/2022 16:00,Al Thumama Stadium,Spain,Costa Rica,Group E,NaN
11,9,2.0,43.0,1,23/11/2022 19:00,Ahmad Bin Ali Stadium,Belgium,Canada,Group F,NaN
12,13,16.0,38.0,1,24/11/2022 10:00,Al Janoub Stadium,Switzerland,Cameroon,Group G,NaN
13,14,13.0,28.0,1,24/11/2022 13:00,Education City Stadium,Uruguay,Korea Republic,Group H,NaN
14,15,9.0,60.0,1,24/11/2022 16:00,Stadium 974,Portugal,Ghana,Group H,NaN
15,16,1.0,25.0,1,24/11/2022 19:00,Lusail Stadium,Brazil,Serbia,Group G,NaN
16,17,19.0,23.0,2,25/11/2022 10:00,Ahmad Bin Ali Stadium,Wales,Iran,Group B,NaN
17,18,49.0,18.0,2,25/11/2022 13:00,Al Thumama Stadium,Qatar,Senegal,Group A,NaN
18,19,8.0,44.0,2,25/11/2022 16:00,Khalifa International Stadium,Netherlands,Ecuador,Group A,NaN
19,20,5.0,NaN,2,25/11/2022 19:00,Al Bayt Stadium,England,USA,Group B,NaN
20,21,30.0,39.0,2,26/11/2022 10:00,Al Janoub Stadium,Tunisia,Australia,Group D,NaN
21,22,26.0,53.0,2,26/11/2022 13:00,Education City Stadium,Poland,Saudi Arabia,Group C,NaN
22,23,4.0,10.0,2,26/11/2022 16:00,Stadium 974,France,Denmark,Group D,NaN
23,24,3.0,12.0,2,26/11/2022 19:00,Lusail Stadium,Argentina,Mexico,Group C,NaN
24,25,24.0,34.0,2,27/11/2022 10:00,Ahmad Bin Ali Stadium,Japan,Costa Rica,Group E,NaN
25,26,2.0,22.0,2,27/11/2022 13:00,Al Thumama Stadium,Belgium,Morocco,Group F,NaN
26,27,15.0,43.0,2,27/11/2022 16:00,Khalifa International Stadium,Croatia,Canada,Group F,NaN
27,28,6.0,11.0,2,27/11/2022 19:00,Al Bayt Stadium,Spain,Germany,Group E,NaN
28,29,38.0,25.0,2,28/11/2022 10:00,Al Janoub Stadium,Cameroon,Serbia,Group G,NaN
29,30,28.0,60.0,2,28/11/2022 13:00,Education City Stadium,Korea Republic,Ghana,Group H,NaN
30,31,1.0,16.0,2,28/11/2022 16:00,Stadium 974,Brazil,Switzerland,Group G,NaN
31,32,9.0,13.0,2,28/11/2022 19:00,Lusail Stadium,Portugal,Uruguay,Group H,NaN
32,35,44.0,18.0,3,29/11/2022 15:00,Khalifa International Stadium,Ecuador,Senegal,Group A,NaN
33,36,8.0,49.0,3,29/11/2022 15:00,Al Bayt Stadium,Netherlands,Qatar,Group A,NaN
34,33,19.0,5.0,3,29/11/2022 19:00,Ahmad Bin Ali Stadium,Wales,England,Group B,NaN
35,34,23.0,NaN,3,29/11/2022 19:00,Al Thumama Stadium,Iran,USA,Group B,NaN
36,37,39.0,10.0,3,30/11/2022 15:00,Al Janoub Stadium,Australia,Denmark,Group D,NaN
37,38,30.0,4.0,3,30/11/2022 15:00,Education City Stadium,Tunisia,France,Group D,NaN
38,39,26.0,3.0,3,30/11/2022 19:00,Stadium 974,Poland,Argentina,Group C,NaN
39,40,53.0,12.0,3,30/11/2022 19:00,Lusail Stadium,Saudi Arabia,Mexico,Group C,NaN
40,41,15.0,2.0,3,1/12/2022 15:00,Ahmad Bin Ali Stadium,Croatia,Belgium,Group F,NaN
41,42,43.0,22.0,3,1/12/2022 15:00,Al Thumama Stadium,Canada,Morocco,Group F,NaN
42,43,24.0,6.0,3,1/12/2022 19:00,Khalifa International Stadium,Japan,Spain,Group E,NaN
43,44,34.0,11.0,3,1/12/2022 19:00,Al Bayt Stadium,Costa Rica,Germany,Group E,NaN
44,45,60.0,13.0,3,2/12/2022 15:00,Al Janoub Stadium,Ghana,Uruguay,Group H,NaN
45,46,28.0,9.0,3,2/12/2022 15:00,Education City Stadium,Korea Republic,Portugal,Group H,NaN
46,47,25.0,16.0,3,2/12/2022 19:00,Stadium 974,Serbia,Switzerland,Group G,NaN
47,48,38.0,1.0,3,2/12/2022 19:00,Lusail Stadium,Cameroon,Brazil,Group G,NaN

In [64]:
# Loop to add teams to new prediction dataset based on the ranking position of each team
pred_set= []
for index, row in schedule.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'home_team': row['Home Team'], 'away_team': row['Away Team'], 'winning_team': None})
    else:
        pred_set.append({'home_team': row['Away Team'], 'away_team': row['Home Team'], 'winning_team': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set

pred_set.head()

     home_team     away_team winning_team
0  Netherlands       Senegal         None
1      England          Iran         None
2      Ecuador         Qatar         None
3        Wales           USA         None
4    Argentina  Saudi Arabia         None

In [66]:
# Get dummy variables and drop winning_team column
pred_set = pd.get_dummies(pred_set, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

# Add missing columns compared to the model's training dataset
missing_cols = set(final.columns) - set(pred_set.columns)
for c in missing_cols:
    pred_set[c] = 0
pred_set = pred_set[final.columns]

# Remove winning team column
pred_set = pred_set.drop(['winning_team'], axis=1)

pred_set.head()

C:\Users\US11338\AppData\Local\Temp/ipykernel_21164/3023252425.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  pred_set[c] = 0

,home_team_Afghanistan,home_team_Albania,home_team_Algeria,home_team_Andalusia,home_team_Andorra,home_team_Angola,home_team_Argentina,home_team_Armenia,home_team_Aruba,home_team_Australia,...,away_team_Vanuatu,away_team_Venezuela,away_team_Vietnam,away_team_Vietnam Republic,away_team_Wales,away_team_Yemen,away_team_Yemen DPR,away_team_Yugoslavia,away_team_Zambia,away_team_Zimbabwe
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
#group matches
predictions = classifier.predict(pred_set)
for i in range(schedule.shape[0]):
    print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
    if predictions[i] == 2:
        print("Winner: " + backup_pred_set.iloc[i, 1])
    elif predictions[i] == 1:
        print("Draw")
    elif predictions[i] == 0:
        print("Winner: " + backup_pred_set.iloc[i, 0])
    print('Probability of ' + backup_pred_set.iloc[i, 1] + ' winning: ', '%.3f'%(classifier.predict_proba(pred_set)[i][2]))
    print('Probability of Draw: ', '%.3f'%(classifier.predict_proba(pred_set)[i][1]))
    print('Probability of ' + backup_pred_set.iloc[i, 0] + ' winning: ', '%.3f'%(classifier.predict_proba(pred_set)[i][0]))
    print("")

Senegal and Netherlands
Winner: Senegal
Probability of Senegal winning:  0.591
Probability of Draw:  0.276
Probability of Netherlands winning:  0.133

Iran and England
Winner: Iran
Probability of Iran winning:  0.593
Probability of Draw:  0.290
Probability of England winning:  0.118

Qatar and Ecuador
Winner: Qatar
Probability of Qatar winning:  0.615
Probability of Draw:  0.228
Probability of Ecuador winning:  0.156

USA and Wales
Winner: USA
Probability of USA winning:  0.657
Probability of Draw:  0.189
Probability of Wales winning:  0.154

Saudi Arabia and Argentina
Winner: Saudi Arabia
Probability of Saudi Arabia winning:  0.774
Probability of Draw:  0.166
Probability of Argentina winning:  0.060

Tunisia and Denmark
Winner: Tunisia
Probability of Tunisia winning:  0.552
Probability of Draw:  0.264
Probability of Denmark winning:  0.184

Poland and Mexico
Winner: Poland
Probability of Poland winning:  0.421
Probability of Draw:  0.299
Probability of Mexico winning:  0.280

Australia and France
Winner: Australia
Probability of Australia winning:  0.649
Probability of Draw:  0.226
Probability of France winning:  0.124

Morocco and Croatia
Winner: Morocco
Probability of Morocco winning:  0.439
Probability of Draw:  0.407
Probability of Croatia winning:  0.153

Japan and Germany
Winner: Japan
Probability of Japan winning:  0.779
Probability of Draw:  0.143
Probability of Germany winning:  0.078

Costa Rica and Spain
Winner: Costa Rica
Probability of Costa Rica winning:  0.824
Probability of Draw:  0.127
Probability of Spain winning:  0.048

Canada and Belgium
Winner: Canada
Probability of Canada winning:  0.733
Probability of Draw:  0.159
Probability of Belgium winning:  0.108

Cameroon and Switzerland
Winner: Cameroon
Probability of Cameroon winning:  0.444
Probability of Draw:  0.359
Probability of Switzerland winning:  0.196

Korea Republic and Uruguay
Winner: Korea Republic
Probability of Korea Republic winning:  0.811
Probability of Draw:  0.147
Probability of Uruguay winning:  0.042

Ghana and Portugal
Winner: Ghana
Probability of Ghana winning:  0.602
Probability of Draw:  0.278
Probability of Portugal winning:  0.120

Serbia and Brazil
Winner: Serbia
Probability of Serbia winning:  0.694
Probability of Draw:  0.208
Probability of Brazil winning:  0.098

Iran and Wales
Draw
Probability of Iran winning:  0.328
Probability of Draw:  0.360
Probability of Wales winning:  0.312

Qatar and Senegal
Winner: Qatar
Probability of Qatar winning:  0.507
Probability of Draw:  0.319
Probability of Senegal winning:  0.174

Ecuador and Netherlands
Winner: Ecuador
Probability of Ecuador winning:  0.637
Probability of Draw:  0.259
Probability of Netherlands winning:  0.104

England and USA
Winner: USA
Probability of England winning:  0.100
Probability of Draw:  0.189
Probability of USA winning:  0.711

Australia and Tunisia
Draw
Probability of Australia winning:  0.362
Probability of Draw:  0.392
Probability of Tunisia winning:  0.245

Saudi Arabia and Poland
Winner: Saudi Arabia
Probability of Saudi Arabia winning:  0.607
Probability of Draw:  0.233
Probability of Poland winning:  0.160

Denmark and France
Winner: Denmark
Probability of Denmark winning:  0.645
Probability of Draw:  0.171
Probability of France winning:  0.184

Mexico and Argentina
Winner: Mexico
Probability of Mexico winning:  0.644
Probability of Draw:  0.225
Probability of Argentina winning:  0.131

Costa Rica and Japan
Winner: Costa Rica
Probability of Costa Rica winning:  0.545
Probability of Draw:  0.219
Probability of Japan winning:  0.235

Morocco and Belgium
Winner: Morocco
Probability of Morocco winning:  0.525
Probability of Draw:  0.296
Probability of Belgium winning:  0.178

Canada and Croatia
Winner: Canada
Probability of Canada winning:  0.663
Probability of Draw:  0.236
Probability of Croatia winning:  0.100

Germany and Spain
Winner: Germany
Probability of Germany winning:  0.440
Probability of Draw:  0.247
Probability of Spain winning:  0.313

Cameroon and Serbia
Draw
Probability of Cameroon winning:  0.388
Probability of Draw:  0.452
Probability of Serbia winning:  0.160

Ghana and Korea Republic
Winner: Korea Republic
Probability of Ghana winning:  0.301
Probability of Draw:  0.279
Probability of Korea Republic winning:  0.420

Switzerland and Brazil
Winner: Switzerland
Probability of Switzerland winning:  0.744
Probability of Draw:  0.172
Probability of Brazil winning:  0.084

Uruguay and Portugal
Winner: Uruguay
Probability of Uruguay winning:  0.492
Probability of Draw:  0.264
Probability of Portugal winning:  0.244

Ecuador and Senegal
Winner: Ecuador
Probability of Ecuador winning:  0.432
Probability of Draw:  0.353
Probability of Senegal winning:  0.216

Qatar and Netherlands
Winner: Qatar
Probability of Qatar winning:  0.701
Probability of Draw:  0.220
Probability of Netherlands winning:  0.079

Wales and England
Winner: Wales
Probability of Wales winning:  0.720
Probability of Draw:  0.167
Probability of England winning:  0.113

Iran and USA
Winner: USA
Probability of Iran winning:  0.240
Probability of Draw:  0.306
Probability of USA winning:  0.455

Australia and Denmark
Winner: Australia
Probability of Australia winning:  0.512
Probability of Draw:  0.267
Probability of Denmark winning:  0.221

Tunisia and France
Winner: Tunisia
Probability of Tunisia winning:  0.682
Probability of Draw:  0.217
Probability of France winning:  0.101

Poland and Argentina
Winner: Poland
Probability of Poland winning:  0.623
Probability of Draw:  0.244
Probability of Argentina winning:  0.132

Saudi Arabia and Mexico
Winner: Saudi Arabia
Probability of Saudi Arabia winning:  0.614
Probability of Draw:  0.239
Probability of Mexico winning:  0.148

Croatia and Belgium
Winner: Croatia
Probability of Croatia winning:  0.378
Probability of Draw:  0.268
Probability of Belgium winning:  0.354

Canada and Morocco
Winner: Canada
Probability of Canada winning:  0.612
Probability of Draw:  0.246
Probability of Morocco winning:  0.142

Japan and Spain
Winner: Japan
Probability of Japan winning:  0.790
Probability of Draw:  0.145
Probability of Spain winning:  0.065

Costa Rica and Germany
Winner: Costa Rica
Probability of Costa Rica winning:  0.816
Probability of Draw:  0.126
Probability of Germany winning:  0.058

Ghana and Uruguay
Winner: Ghana
Probability of Ghana winning:  0.605
Probability of Draw:  0.302
Probability of Uruguay winning:  0.094

Korea Republic and Portugal
Winner: Korea Republic
Probability of Korea Republic winning:  0.810
Probability of Draw:  0.135
Probability of Portugal winning:  0.055

Serbia and Switzerland
Winner: Serbia
Probability of Serbia winning:  0.404
Probability of Draw:  0.279
Probability of Switzerland winning:  0.317

Cameroon and Brazil
Winner: Cameroon
Probability of Cameroon winning:  0.699
Probability of Draw:  0.246
Probability of Brazil winning:  0.056

In [85]:
# List of group stage qualifiers (round of 16)
matches = [('Qatar', 'Wales'),
            ('USA', 'Ecuador'),
            ('Saudi Arabia', 'Australia'),
            ('Tunisia', 'Poland'),
            ('Costa Rica', 'Morocco'),
            ('Canada', 'Japan'),
            ('Cameroon', 'Korea Republic'),
            ('Ghana', 'Serbia')]

In [86]:
def clean_and_predict(matches, rank, final, classifier):

    # Initialization of auxiliary list for data cleaning
    positions = []

    # Loop to retrieve each team's position according to FIFA ranking
    for match in matches:
        positions.append(rank.loc[rank['Country'] == match[0],'Rank'].iloc[0])
        positions.append(rank.loc[rank['Country'] == match[1],'Rank'].iloc[0])
    
    # Creating the DataFrame for prediction
    pred_set = []

    # Initializing iterators for while loop
    i = 0
    j = 0

    # 'i' will be the iterator for the 'positions' list, and 'j' for the list of matches (list of tuples)
    while i < len(positions):
        dict1 = {}

        # If position of first team is better, he will be the 'home' team, and vice-versa
        if positions[i] < positions[i + 1]:
            dict1.update({'home_team': matches[j][0], 'away_team': matches[j][1]})
        else:
            dict1.update({'home_team': matches[j][1], 'away_team': matches[j][0]})

        # Append updated dictionary to the list, that will later be converted into a DataFrame
        pred_set.append(dict1)
        i += 2
        j += 1

    # Convert list into DataFrame
    pred_set = pd.DataFrame(pred_set)
    backup_pred_set = pred_set

    # Get dummy variables and drop winning_team column
    pred_set = pd.get_dummies(pred_set, prefix=['home_team', 'away_team'], columns=['home_team', 'away_team'])

    # Add missing columns compared to the model's training dataset
    missing_cols2 = set(final.columns) - set(pred_set.columns)
    for c in missing_cols2:
        pred_set[c] = 0
    pred_set = pred_set[final.columns]

    # Remove winning team column
    pred_set = pred_set.drop(['winning_team'], axis=1)

    # Predict!
    predictions = classifier.predict(pred_set)
    for i in range(len(pred_set)):
        print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
        if predictions[i] == 2:
            print("Winner: " + backup_pred_set.iloc[i, 1])
        elif predictions[i] == 1:
            print("Draw")
        elif predictions[i] == 0:
            print("Winner: " + backup_pred_set.iloc[i, 0])
        print('Probability of ' + backup_pred_set.iloc[i, 1] + ' winning: ' , '%.3f'%(classifier.predict_proba(pred_set)[i][2]))
        print('Probability of Draw: ', '%.3f'%(classifier.predict_proba(pred_set)[i][1])) 
        print('Probability of ' + backup_pred_set.iloc[i, 0] + ' winning: ', '%.3f'%(classifier.predict_proba(pred_set)[i][0]))
        print("")

In [87]:
clean_and_predict(group, rank, final, classifier)

IndexError: single positional indexer is out-of-bounds

In [88]:
# List of matches
quarters = [('Portugal', 'France'),
            ('Spain', 'Argentina'),
            ('Brazil', 'England'),
            ('Germany', 'Belgium')]

In [89]:
clean_and_predict(quarters, rank, final, classifier)

Portugal and France
Winner: Portugal
Probability of Portugal winning:  0.564
Probability of Draw:  0.203
Probability of France winning:  0.234

Spain and Argentina
Winner: Spain
Probability of Spain winning:  0.403
Probability of Draw:  0.383
Probability of Argentina winning:  0.214

England and Brazil
Winner: England
Probability of England winning:  0.533
Probability of Draw:  0.245
Probability of Brazil winning:  0.222

Germany and Belgium
Winner: Belgium
Probability of Germany winning:  0.272
Probability of Draw:  0.205
Probability of Belgium winning:  0.522

C:\Users\US11338\AppData\Local\Temp/ipykernel_21164/4268499140.py:43: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  pred_set[c] = 0

In [90]:
# List of matches
semi = [('Portugal', 'Spain'),
        ('England', 'Belgium')]

In [91]:
clean_and_predict(semi, rank, final, classifier)

Portugal and Spain
Winner: Portugal
Probability of Portugal winning:  0.627
Probability of Draw:  0.213
Probability of Spain winning:  0.160

England and Belgium
Winner: Belgium
Probability of England winning:  0.304
Probability of Draw:  0.238
Probability of Belgium winning:  0.458

C:\Users\US11338\AppData\Local\Temp/ipykernel_21164/4268499140.py:43: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  pred_set[c] = 0

In [92]:
# Finals
finals = [('Portugal', 'Belgium')]

In [94]:
clean_and_predict(finals, rank, final, classifier)

Portugal and Belgium
Winner: Portugal
Probability of Portugal winning:  0.466
Probability of Draw:  0.212
Probability of Belgium winning:  0.322

C:\Users\US11338\AppData\Local\Temp/ipykernel_21164/4268499140.py:43: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  pred_set[c] = 0